<h2 id="new">New</h2>
<h4 id="selects-form-selects-">Selects (Form Selects)</h4>
<ul>
<li>Select component added for form-specific use cases</li>
</ul>
<h4 id="release-notes-and-email-list">Release Notes and Email List</h4>
<ul>
<li>Release history and email list sign up page added to <a href="http://hcadesignsystem.com/get-updates/">http://hcadesignsystem.com/get-updates/</a></li>
</ul>
<h2 id="removed">Removed</h2>
<h4 id="dropdowns">Dropdowns</h4>
<ul>
<li>Removed &quot;Dropdowns&quot; as they have been repurposed into different use cases of Dropdown Buttons and Selects. </li>
</ul>
