<h2 id="new">New</h2>
<h4 id="buttons">Buttons</h4>
<ul>
<li>Dropdown buttons added</li>
<li>Small buttons added</li>
</ul>
<h4 id="accessibility">Accessibility</h4>
<ul>
<li>Accessibility page added to <a href="http://www.hcadesignsystem.com/accessibility/">http://www.hcadesignsystem.com/accessibility/</a></li>
</ul>
<h2 id="updated">Updated</h2>
<h4 id="text-fields">Text Fields</h4>
<ul>
<li>Placeholder text color changed to Geyser @ 50% opacity in order to have less contrast with input field.</li>
</ul>
<h4 id="links">Links</h4>
<ul>
<li>Underline now visible by default on links within text content.</li>
</ul>
<h2 id="removed">Removed</h2>
<ul>
<li>Removed Forum page from hcadesignsystem.com</li>
<li>Removed Content Switchers and consolidated them with Tabs.</li>
</ul>
