* {
  transition: $transition;
  box-sizing: border-box;
}

body,
html {
  background-color: $background-color;
  color: $color__cadet;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  // display: flex;
  width: 100%;
}

a {
  color: $color__link;
  text-decoration: none;
  border-bottom: 1px solid transparent;

  &:hover {
    color: $color__link--hover;
    background-color: $color__link-bg--hover;
    text-decoration: none;
    border-bottom: 1px solid $color__link;
  }
}

.hca-link {
  border-bottom: 1px solid transparent;
  color: $color__link;
  text-decoration: none;

  &:hover {
    background-color: $color__link-bg--hover;
    border-color: $color__link--hover;
    color: $color__link--hover;
    text-decoration: none;
  }
}

nav, ul, li {
  margin: 0;
  padding: 0;
}

dl, dd, dt,
ul, ol, li {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

blockquote {
  border-left-color: $color__geyser;
}
