/* ==========================================================================
   HCA visual examples
   Two elements:
    -comp
    -caption

  Do & Don't Modifiers (if needing to display do and/or dont)
   ========================================================================== */

$visual-example-line-size: 10px;
.hca-visual-example {
  display: inline-block;
  width: 100%;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
  text-align: left; //added so we can use bootstrap text-center class on wrapper
}
.hca-visual-example__comp {
  display: block;
  margin-bottom: 5px;
  border-bottom: $visual-example-line-size solid transparent;
}

.hca-visual-example__overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background-color: rgba($color__asphalt, .2);
}

.hca-visual-example__caption {
  max-width: 465px;
  // margin: 0 auto;
}

/* Do and Don't modifiers */
.hca-visual-example--do {
  .hca-visual-example__comp {
    padding-top: 5px;
    border-top: $visual-example-line-size solid $color__grass;
  }
  &:before {
    display: block;
    content: '\2714  Do';
  }
  // .hca-visual-example__caption:before {
  //   display: block;
  //   content: '\2714  Do';
  // }

  .hca-visual-example__overlay {
    background-color: rgba($color__grass, .15);
  }
}

.hca-visual-example--dont {
  .hca-visual-example__comp {
    padding-top: 5px;
    border-top: $visual-example-line-size dashed $color__strawberry;
  }
  &:before {
    display: block;
    content: '\2717  Dont';
  }
  // .hca-visual-example__caption:before {
  //   display: block;
  //   content: '\2717  Dont.';
  // }

  .hca-visual-example__overlay {
    background-color: rgba($color__strawberry, .15);
  }
}

/**
 * Size modifiers for max-widths
 */
.hca-visual-example--mobile {
  max-width: 320px;
}

.hca-visual-example--half-size {
  .hca-visual-example__comp {
    width: 50%;
    height: 50%;
    // margin: 0 auto;
  }
}


/**
 * Random Spacing modifiers
 */
 .hca-visual-example--margin-top {
   margin-top: 50px;
 }
