---
layout: no-tabs.hbs
title: Questions and Feedback
base_url: '../'
---

<div class="row">
  <div class="col-sm-12">
    <div class="site-container--body-content">
      <p class="hca-typography--subhead">Below is the <strong>HCA Design System Forum</strong> powered by <a href="http://www.nabble.com/" target="_blank">Nabble</a>. We have a thread for each topic/component of our system that you can use to voice any questions, concerns, or suggestions.</p>
      <p class="hca-typography--body-1">HCA UX will do our best to respond to all forum questions, concerns, and suggestions.</p>
    </div>
    <hr />
  </div>
</div>


<a id="nabblelink" href="http://hca-design-system-forum.19348.n8.nabble.com/">HCA Design System Forum</a>
<script src="http://hca-design-system-forum.19348.n8.nabble.com/embed/f1"></script>
