---
layout: no-tabs.hbs
title: Questions and Feedback
base_url: '../'
---

<div class="row">
  <div class="col-sm-12">
    <div class="hca-layout__container--body-content">
      <p class="hca-typography--subhead">Below is the <strong>HCA Design System Forum</strong>. You can reply to some of the current topics with any questions regarding them, or even start your own topic.</p>
      <p class="hca-typography--body-1">HCA UX will do our best to respond to all forum questions, concerns, and suggestions.</p>
    </div>
    <hr />
  </div>
</div>


<a id="nabblelink" href="http://hca-design-system-forum.19348.n8.nabble.com/">HCA Design System Forum</a>
<script src="http://hca-design-system-forum.19348.n8.nabble.com/embed/f1"></script>
