---
layout: default.hbs
title: Tabs
base_url: '../../'
---

<!-- Tab panes - tab controls in _layouts/default.hbs -->
<div class="tab-content">

  {{!-- USAGE TAB --}}
  <div role="tabpanel" class="tab-pane active" id="app-guidelines-tab">

    <section class="app-tab-header">
      <div class="row">
        <div class="col-sm-7">
          <div class="hca-layout__container--body-content">
            <p class="hca-typography--subhead hca-typography__color--asphalt">Tabs are a common and easy way to switch between different views or content.</p>
            <p class="hca-typography--body-1">They can be utilized as app-level navigation that switches between entire views, or content-level navigation that changes content or data sets within a single view.</p>
            <p class="hca-typography--body-1">Tabs should always be presented in a single row.</p>
            <p class="hca-typography--body-1">Since swipe gestures can be used to navigate tabs, avoid pairing swipable content with tabbed navigation.</p>

          </div>
        </div>
        <div class="col-sm-5">
          <ul class="app-toc">
            <h2 class="hca-typography--subhead">Contents:</h2>
            <li class="app-toc__item"><a href="#section-anatomy-and-types">Anatomy and Types</a></li>
            <li class="app-toc__item"><a href="#section-usage">Usage</a></li>
            <li class="app-toc__item"><a href="#section-interaction-and-behavior">Interaction and Behavior</a></li>
          </ul>
        </div>
      </div>
    </section>


    <article id="section-anatomy-and-types">
      <h1 class="app-article-headline hca-typography--headline">Anatomy and Types</h1>
      <div class="row">
        <div class="col-sm-4">
          <div class="hca-layout__container--body-content">
            <span class="hca-typography--title">Types</span>
            <ul class="hca-typography--body-1">
              <li>Fixed</li>
              <li>Scrollable</li>
            </ul>
          </div>
        </div>
        <div class="col-sm-8">

        </div>
      </div>
    </article>

    <article id="section-usage">
      <h1 class="app-article-headline hca-typography--headline">Usage</h1>
      <div class="hca-layout__container--body-content">

      </div>
    </article>

  </div>

  {{!-- STYLES TAB --}}
  <div role="tabpanel" class="tab-pane" id="app-styles-tab">

    <section class="app-tab-header">
      <div class="row">
        <div class="col-sm-7">
          <div class="hca-layout__container--body-content">
            <p class="hca-typography--subhead hca-typography__color--asphalt">Intro paragraph(s) here.</p>
          </div>
        </div>
        <div class="col-sm-5">
          <ul class="app-toc">
            <h2 class="hca-typography--subhead">Contents:</h2>
            <li class="app-toc__item"><a href="#section-name">Topic</a></li>
            <li class="app-toc__item"><a href="#section-name">List</a></li>
            <li class="app-toc__item"><a href="#section-name">Here</a></li>
          </ul>
        </div>
      </div>
    </section>

  </div>

  {{!-- CODE TAB --}}
  <div role="tabpanel" class="tab-pane" id="app-code-tab">
    Coming soon.
  </div>

</div>


{{!-- Pagination Navigation --}}
<nav class="app-pagination">
  <div class="row">
    <div class="col-sm-12 text-right">
      <a href="{{page.base_url}}components/buttons/" class="hca-button hca-button--has-icon-left">Back to Buttons <span class="material-icons">keyboard_arrow_left</span></a>
      <a href="{{page.base_url}}components/text-fields/" class="hca-button hca-button--has-icon-right hca-typography__color--night">Next: Text Fields <span class="material-icons">keyboard_arrow_right</span></a>
    </div>
  </div>
</nav>
