body {
  background-color: $color__steam;
}

.app-styleguide-brand {
  padding: 20px;
  font-size: 26px;
  text-align: center;

  #hca-design-system-logo {
    display: block;
    margin: auto;
    height: 75px;
    width: 75px;
  }
}

.app-nav-footer-cc {
  padding: 20px;
}

.hca-layout__drawer {
  background: $color__white;
}

//navigation icon rotating.
.hca-list__item.collapsed .material-icons {
  transform: rotate(180deg);
}


//attempt at styling google sheet embed
iframe {
  width: 100%;
  max-width: 300px;
  border: none;
  overflow: hidden;
  height: 100%;
}




// .hca-animation--colorful {
//   animation: colorful;
//   animation-duration: 10s;
//   animation-iteration-count: infinite;
// }

@keyframes colorful {
  0% {
    fill: $color__strawberry;
    transform: scale(1);
  }

  10% {
    fill: $color__cranberry;
    transform: scale(.9);
  }

  20% {
    fill: $color__grass;
    transform: scale(.8);
  }

  30% {
    fill: $color__ivy;
    transform: scale(.9);
  }

  40% {
    fill: $color__morning;
    transform: scale(1);
  }

  50% {
    fill: $color__noon;
    transform: scale(.9);
  }

  60% {
    fill: $color__butterscotch;
    transform: scale(.8);
  }

  70% {
    fill: $color__hazelnut;
    transform: scale(.9);
  }

  80% {
    fill: $color__geyser;
    transform: scale(1);
  }

  90% {
    fill: $color__cadet;
    transform: scale(.9);
  }

  100% {
    fill: $color__asphalt;
    transform: scale(1);
  }

}
