//
// Site specific styles/hacks. Separate from any styles in HCA Design System
//

body {
  background-color: $color__steam;
  padding-bottom: 40px;
}

hr {
  margin-top: 50px;
  margin-bottom: 50px;
}

.app-header {
  background-color: $color__morning;
  margin-bottom: 30px;

  .hca-typography--display-2,
  .hca-typography--body-1 {
    color: $color__asphalt;
  }
}

.app-hca {
  font-family: "Times New Roman";
  font-weight: 300;
  font-size: 27px; //hack to make it line up better with words next to it.
}

.app-drawer-nav {

  .hca-list__item.app-drawer-nav__item--active,
  .hca-list__item--nested.app-drawer-nav__item--active {
    color: $color__evening;
  }

  .hca-list__item--nested.app-drawer-nav__item--active {
    font-weight: 600;
    border-left: 2px solid $color__evening;
  }
}

.app-section {
  margin-bottom: 50px;
}

.app-styleguide-brand {
  padding: 20px;
  font-size: 26px;
  text-align: center;
  margin-top: 57px; //hacky value to make bottom line aligned with app-header line

  #hca-design-system-logo {
    display: none;
    margin: auto;
    height: 75px;
    width: 75px;
  }
}

.app-nav-footer-cc {
  padding: 20px;
  margin-bottom: 50px;
}


//navigation icon rotating.
.hca-list__item.collapsed .material-icons {
  transform: rotate(180deg);
}



$app-tab-stroke: 2px;
$app-tab-active-color: $color__asphalt;
$app-tab-inactive-color: rgba($app-tab-active-color, .7);
.app-tabs {
  border-bottom: 0;
  font-size: 14px;

  li,
  .app-tabs__tab {
    text-align: center;
    min-width: 62px;
    color: $app-tab-inactive-color;
    margin-bottom: 0;

    //active tab
    &.active {

      a,
      a:hover,
      a:active,
      a:focus {
        color: $app-tab-active-color;
        background-color: transparent;
        font-weight: 600;
        border-top: none;
        border-right: none;
        border-bottom: $app-tab-stroke solid $app-tab-active-color;
        border-left: none;
      }
    }

    //default links in tabs
    a {
      margin-right: 0;
      color: $app-tab-inactive-color;
      width: 100px;
      height: 50px;
      line-height: 50px;
      padding: 0 10px;
      border-radius: 0;
      border-top: none;
      border-right: none;
      border-left: none;
      border-bottom: $app-tab-stroke solid transparent;
      text-align: center;

      &:hover,
      &:focus,
      &:active {
        color: $color__cadet;
        background-color: transparent;
        border-bottom: $app-tab-stroke solid $app-tab-inactive-color;
      }
    }

  }

  //justified tabs only on mobile.
  //this is opposite of bootstrap's nav-justified class
  @media (max-width: 400px) {
    width: 100%;
    min-width: 300px;
    margin-left: -20px;
    display: table;


    li,
    .app-tabs__tab {
      min-width: 62px;
      float: none;
      display: table-cell;
      width: 100px;
      text-align: center;

      a {
        padding: 0;
        width: 100%;
      }
    }
  }

}
// end app-tabs customized bootstrap tabs

// .tab-content {
//   padding-top: 30px;
// }

.app-tab-header {
  margin-bottom: 50px;
}

.app-toc {
  padding-left: 15px;
  border-left: 3px solid $color__cadet;
}
.app-toc__item {
  font-weight: 600;
  padding-top: 5px;
  padding-bottom: 5px;
}

.app-article-headline {
  &:after {
    display: block;
    content: '';
    margin-top: 15px;
    height: 3px;
    width: 100px;
    background-color: $color__asphalt;
  }
  margin-bottom: 30px;
}


.app-type-specs--type-list {
  display: block;
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;

  margin-bottom: 30px;

  // .hca-typography--display-4,
  // .hca-typography--display-3,
  // .hca-typography--display-2,
  // .hca-typography--display-1,
  // .hca-typography--headline,
  // .hca-typography--title,
  // .hca-typography--subhead,
  // .hca-typography--body-2,
  // .hca-typography--body-1,
  // .hca-typography--caption,
  // .hca-typography--support {
  //   line-height: 1;
  //   margin-bottom: 0;
  //   padding-bottom: 15px;
  // }
}


.app-card {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  border: 1px solid transparent;

  &.hca-background--steam {
    border: 1px solid $color__geyser;
  }
}


.app-pagination {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 40px;
  line-height: 40px;
  background-color: $color__white;
  box-shadow: 10px 0px 16px 0 rgba(31, 37, 50, .15);

  @media (min-height: 700px) {
    display: block;
  }
}


.app-alert {
  padding: 15px 10px;
  margin-bottom: 30px;
  border-left: 3px solid $color__cadet;


  &--warning {
    background-color: $color__vanilla;
    color: $color__mocha;
    border-color: $color__butterscotch;

    .material-icons {
      color: $color__hazelnut;
      font-size: 30px;
    }
  }

}


.app-spec-list {
  margin-left: 20px;
  &__item {
    list-style: initial;
    margin-left: 10px;
  }
}


.app-list--bulleted {
  padding-left: 40px;
  margin-bottom: 20px;
  .app-list__item {
    list-style: initial;
    margin-bottom: 5px;
  }
}
