/* ==========================================================================
   DEFAULT BASE SETTINGS
   ========================================================================== */

//display settings so that they are not dependent on markup
.hca-typography--display-4,
.hca-typography--display-3,
.hca-typography--display-2,
.hca-typography--display-1,
.hca-typography--headline,
.hca-typography--title,
.hca-typography--subhead,
.hca-typography--body-2,
.hca-typography--body-1,
.hca-typography--caption,
.hca-typography--support {
  display: block;
  line-height: 1.5;
}


/**
 * Color Defaults
 */
.hca-typography--display-4,
.hca-typography--display-3,
.hca-typography--display-2,
.hca-typography--subhead,
.hca-typography--body-1,
.hca-typography--caption {
  color: $color__cadet;
}

.hca-typography--display-1,
.hca-typography--headline,
.hca-typography--title,
.hca-typography--body-2 {
  color: $color__asphalt;
}

/**
 * Weight Defaults
 */
.hca-typography--display-3,
.hca-typography--display-2,
.hca-typography--display-1,
.hca-typography--headline,
.hca-typography--subhead,
.hca-typography--body-1,
.hca-typography--caption {
  font-weight: 400;
}

.hca-typography--title,
.hca-typography--body-2,
.hca-typography--support{
  font-weight: 600;
}



/**
 * Default sizes and specifics
 */
.hca-typography--display-4 {
  font-weight: 300;
  font-size: 112px;
  padding-bottom: 25px;
}

.hca-typography--display-3 {
  font-size: 56px;
  padding-bottom: 25px;
}

.hca-typography--display-2 {
  font-size: 45px;
  padding-bottom: 25px;
}

.hca-typography--display-1 {
  font-size: 34px;
  padding-bottom: 17px;
}

.hca-typography--headline {
  font-size: 26px;
  padding-bottom: 10px;
}

.hca-typography--title {
  font-size: 22px;
  padding-bottom: 10px;
}

.hca-typography--subhead {
  font-size: 18px;
  padding-bottom: 3px;
}

.hca-typography--body-2 {
  font-size: 16px;
  padding-bottom: 5px;
}

.hca-typography--body-1 {
  font-size: 16px;
  padding-bottom: 10px;
  line-height: 1.625;
}

.hca-typography--caption {
  font-size: 14px;
}

.hca-typography--support {
  font-size: 12px;
}





/* ==========================================================================
   MODIFIERS
   ========================================================================== */

/**
 * Weight modifiers
 */
 .hca-typography__weight--light {
   font-weight: lighter !important;
   font-weight: 300 !important;
 }

 .hca-typography__weight--regular {
   font-weight: normal !important;
   font-weight: 400 !important;
 }

 .hca-typography__weight--semibold {
   font-weight: bold !important;
   font-weight: 600 !important;
 }

 /**
  * Color modifiers
  */
  .hca-typography__color--asphalt {
    color: $color__asphalt !important;
  }

  .hca-typography__color--cadet {
    color: $color__cadet !important;
  }
