.hca-background {

  &--white {
    background-color: $color__white !important;
  }
  &--steam {
    background-color: $color__steam !important;
  }
  &--geyser {
    background-color: $color__geyser !important;
  }
  &--slate {
    background-color: $color__slate !important;
  }
  &--cadet {
    background-color: $color__cadet !important;
  }
  &--asphalt {
    background-color: $color__asphalt !important;
  }
  &--night {
    background-color: $color__night !important;
  }
  &--evening {
    background-color: $color__evening !important;
  }
  &--noon {
    background-color: $color__noon !important;
  }
  &--morning {
    background-color: $color__morning !important;
  }
  &--pine {
    background-color: $color__pine !important;
  }
  &--ivy {
    background-color: $color__ivy !important;
  }
  &--grass {
    background-color: $color__grass !important;
  }
  &--mint {
    background-color: $color__mint !important;
  }
  &--mocha {
    background-color: $color__mocha !important;
  }
  &--hazelnut {
    background-color: $color__hazelnut !important;
  }
  &--butterscotch {
    background-color: $color__butterscotch !important;
  }
  &--vanilla {
    background-color: $color__vanilla !important;
  }
  &--cranberry{
    background-color: $color__cranberry !important;
  }
  &--cherry {
    background-color: $color__cherry !important;
  }
  &--strawberry {
    background-color: $color__strawberry !important;
  }
  &--watermelon {
    background-color: $color__watermelon !important;
  }

}
