// colors
// primary grays & tints
$color__asphalt: #1f2532;
$color__cadet: #465561;
$color__slate: #7f94a2;
$color__geyser: #d8dde6;
$color__steam: #f5f7f9; // aka "kyle gray"
$color__white: #fff;

// primary utility & feedback colors
// default/info
$color__night: #063d7a;
$color__evening: #1e71cd; // rgb(30, 113, 205)
$color__noon: #268af9;
$color__morning: #e9f3fe;

// success/positive
$color__pine: #10572f;
$color__ivy: #208052;
$color__grass: #26cc6d;
$color__mint: #e9f9f0;

// warning/caution
$color__mocha: #6f4704;
$color__hazelnut: #966c24;
$color__butterscotch: #ffb63d;
$color__vanilla: #fff4e2;

// error/danger/fail
$color__cranberry: #990112;
$color__cherry: #c83426;
$color__strawberry: #f55d50;
$color__watermelon: #fee7e5;

// text & links
$color__text: $color__cadet;
$color__text--contrast: $color__asphalt;
$color__link: $color__evening;
$color__link--hover: $color__night;

// backgrounds
$background-color: $color__white;
$background-color--secondary: $color__steam;


//Typography

// fonts
$font-family__default: 'Open Sans', Arial, sans-serif;
$font-weight__light: 300;
$font-weight__regular: 400;
$font-weight__semi-bold: 600;


//core border radius
$hca-border-radius: 5px;



//
// Mixin created to combine box shadow and z index levels for each HCA Design
// system elevation level 0-4.
//

// elevation
$border-radius__default: 5px;
$box-shadow__1: 0 2px 4px 0 rgba(6, 28, 63, .2);
$box-shadow__2: 0 6px 12px 0 rgba(6, 28, 63, .2);
$box-shadow__3: 0 10px 16px 0 rgba(6, 28, 63, .15);
$box-shadow__4: 0 16px 30px 0 rgba(31, 37, 50, .5);

//z-index
$z-level-0: 1;
$z-level-1: 2;
$z-level-2: 3;
$z-level-3: 4;
$z-level-4: 5;


//app bar
$hca-app-bar-height: 56px;
$hca-app-bar-horizontal-spacing: 20px;

//drawer
$hca-drawer-width: 300px;

// transition
$transition: all .15s ease-in-out;

// media queries (named after Chrome dev tools responsive device breakpoints)
$screen__mobile--s: 320px;
$screen__mobile--m: 375px;
$screen__mobile--l: 425px;
$screen__tablet: 768px;
$screen__laptop: 1024px;
$screen__laptop--l: 1440px;
