.hca-typography--headline {
  display: inline-block;
  font-size: 26px;
  font-weight: 400;
  color: $color__asphalt;
}

.hca-typography--title {
  display: inline-block;
  font-size: 22px;
  font-weight: 600;
  color: $color__asphalt;
}

.hca-typography--caption {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  color: $color__cadet;
}
