---
layout: no-tabs.hbs
title: Accessibility
base_url: '../'
---

<section class="site-tab-header">
  <div class="row">
    <div class="col-sm-7">
      <h2 class="hca-text--display-1">Committed to Accessible Thinking</h2>
      <div class="site-container--body-content">
        <p class="hca-text--body-1">Each person who has an experience with HCA has distinct needs. Based on industry accessibility standards, we strive to create a visual system that is inclusive to every individual.</p>
      </div>
    </div>
    <div class="col-sm-5">
      <nav>
        <span class="hca-text--subhead">Contents:</span>
        <ul class="site-toc">
          <li class="site-toc__item"><a href="#section-guiding-principles">Guiding Principles</a></li>
          <li class="site-toc__item"><a href="#section-core-concepts">Core Concepts</a></li>
        </ul>
      </nav>
    </div>
  </div>
</section>

<article id="section-guiding-principles" class="site-section">
  <h3 class="site-article-headline">Guiding Principles</h3>
  <h4 class="hca-text--title">Clear. Robust. Specific.</h4>
  <div class="row" style="display: flex; flex-wrap: wrap; margin-bottom: 30px;">
    <div class="col-sm-6">
      <div class="site-container--body-content" style="margin-bottom: 0;">
        <p class="hca-text--body-1">Accessible design allows users of all abilities to perceive, understand, navigate, interact with and contribute to the applications you create. A well-designed product is accessible to users of all abilities, including those with low vision, blindness, hearing impairments, cognitive impairments, or motor impairments. Improving your product’s accessibility enhances the usability for all users.</p>
        <p class="hca-text--body-1">It’s also the right thing to do.</p>
        <p class="hca-text--body-1">HCA Design System adheres to the core accessibility principles of Clear, Robust and Specific. These founding principles, rooted in <a href="https://www.w3.org/TR/WCAG20/">WCAG 2.0 standards</a> (Perceivable, Operable, Understandable, Robust) and adapted from other heuristic research, will help you accommodate all of your users.</p>
        <p class="hca-text--body-1">Accessibility should never be an afterthought. By including accessible thinking and best practices from the start, we are able to build the required site components on time, on budget and without barriers.</p>
      </div>
    </div>
    <div class="col-sm-6" style="align-self: start; padding: 0;">
      <img class="img-responsive" src="../images/accessibility/quote.png" alt="'At HCA, we believe delivering a quality patient experience is central to fulfilling our mission of the care and improvement of human life. We can only achieve this by providing care that recognizes the diverse cultures and backgrounds of our patients, physicians and employees – where everyone is treated with fairness, dignity and respect. - R.  Milton Johnson, Chairman & CEO'">
        <!-- <blockquote cite="https://hcahealthcare.com/">"At HCA, we believe delivering a quality patient experience is central to fulfilling our mission of the care and improvement of human life. We can only achieve this by providing care that recognizes the diverse cultures and backgrounds of our patients, physicians and employees – where everyone is treated with fairness, dignity and respect."</blockquote>
        <span class="hca-text--body-2">- R.  Milton Johnson, Chairman & CEO</span> -->
      </div>
  </div>
  <div class="row" style="display: flex; flex-wrap: wrap; margin-bottom: 30px;">
    <div class="col-sm-6">
      <h4 class="hca-text--title">Clear</h4>
      <div class="site-container--body-content" style="margin-bottom: 0px;">
        <p class="hca-text--body-1">Help users navigate your app by designing clear layouts with distinct calls to action. Every added button, image, and line of text make the screen more complicated. Simplify your designs with:</p>
        <ul class="site-list site-list--bulleted">
          <li class="site-list__item">Clearly visible elements</li>
          <li class="site-list__item">Sufficient contrast and size</li>
          <li class="site-list__item">A clear hierarchy of importance</li>
          <li class="site-list__item">Key information discernable at a glance</li>
          <li class="site-list__item">Text based alternatives that are perceivable for all images, videos, buttons, icons and SVGs</li>
        </ul>
      </div>
    </div>
    <div class="col-sm-6" style="align-self: center;">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-3">
          <img class="img-responsive" src="../images/accessibility/clear.png">
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="display: flex; flex-wrap: wrap; justify-content: start; margin-bottom: 30px;">
    <div class="col-sm-6">
      <h4 class="hca-text--title">Robust</h4>
      <div class="site-container--body-content" style="margin-bottom: 0px;">
        <p class="hca-text--body-1">Any of your designs must accommodate a variety of users. A user may have a short attention span, be new to your product, or use a text-only screen reader (a program that uses a speech synthesizer to read text aloud or kinesthetically using a braille display). Your app should make it easy for each user to:</p>
        <ul class="site-list site-list--bulleted">
          <li class="site-list__item"><span class="hca-text__weight--semibold hca-text__color--asphalt">Navigate:</span> Give users confidence in knowing where they are in your app and what is important and give keyboard alternative to all mouse-based actions.</li>
          <li class="site-list__item"><span class="hca-text__weight--semibold hca-text__color--asphalt">Understand important tasks:</span> Reinforce important information through multiple visual and textual cues. Use color, shape, text, and motion to communicate what is happening.</li>
          <li class="site-list__item"><span class="hca-text__weight--semibold hca-text__color--asphalt">Access to use:</span> Include appropriate content labelling to accommodate users who experience a text-only version of your app.</li>
        </ul>
      </div>
    </div>
    <div class="col-sm-6" style="align-self: center;">
      <div class="row">
        <div class="col-sm-6">
          <img class="img-responsive" src="../images/accessibility/robust.png" style="margin-left: 10%;">
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="display: flex; flex-wrap: wrap; margin-bottom: 30px;">
    <div class="col-sm-6">
      <h4 class="hca-text--title">Specific</h4>
      <div class="site-container--body-content" style="padding: 0px;">
        <p class="hca-text--body-1">Support assistive technologies specific to your platform, just as you support the input methods of touch, keyboard, and mouse. For example, ensure your app works with screen readers.</p>
        <p class="hca-text--body-1">Assistive technology helps increase, maintain, or improve the functional capabilities of individuals with disabilities, through devices like screen readers, magnification devices, wheelchairs, hearing aids, or memory aids.</p>
      </div>
    </div>
    <div class="col-sm-6" style="align-self: flex-end;">
        <img class="img-responsive" src="../images/accessibility/specific.png">
    </div>
  </div>
</article>
{{!-- / GUIDING PRINCIPLES --}}


<article id="section-core-concepts" class="site-section">
  <h3 class="site-article-headline">Core Concepts</h3>
  <div class="row" style="display: flex; flex-wrap: wrap; margin-bottom: 30px;">
    <div class="col-sm-6">
      <h4 class="hca-text--title">Color</h4>
      <div class="site-container--body-content" style="margin-bottom: 0px;">
        <p class="hca-text--body-1">Our components follow the two main rules of accessibility as it relates to color:</p>
        <ol class="site-list site-list--ordered">
          <li class="site-list__item">We never use color as the only means of providing information or requesting an action.</li>
          <li class="site-list__item">The combinations of text and their background colors do not fall below the WCAG recommended threshold ratio of 4.5:1 for standard or small text and 3:1 for larger text.</li>
        </ol>
        <p class="hca-text--body-1">This ensures that viewers who cannot see the full color spectrum are able to read the text. To ensure that text remains accessible, use only the HCA Design System permitted color combinations for system color selections.</p>
        <p class="hca-text--body-1">When using your own personal branded color combinations beyond the HCA Design System color palette, use this <a href="https://webaim.org/resources/contrastchecker/" title="WEBAIM contrast checker">color contrast tool</a> or <a href="https://webaim.org/resources/contrastchecker/" title="Colorsafe contrast checker">this one</a>. They are a useful resource for testing the compliance of any color combination. If you're working in Sketch, we recommend the <a href="http://www.getstark.co/" title="The color-blind simulator and contrast checker for Sketch.">Stark</a> plugin.</p>
      </div>
    </div>
    <div class="col-sm-6" style="align-self: center;">
      <div class="row">
        <div class="col-xs-6">
          <img class="img-responsive" src="../images/accessibility/color-do-error.png">
        </div>
        <div class="col-xs-6">
          <img class="img-responsive" src="../images/accessibility/color-dont-error.png">
        </div>
        <div class="col-xs-6" style="margin-top: 50px;">
          <img class="img-responsive" src="../images/accessibility/color-do-2.png">
        </div>
        <div class="col-xs-6" style="margin-top: 50px;">
          <img class="img-responsive" src="../images/accessibility/color-dont-2.png">
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center; margin-bottom: 30px;">
    <div class="col-sm-6">
      <h4 class="hca-text--title">Contrast</h4>
      <div class="site-container--body-content" style="margin-bottom: 0px;">
        <p class="hca-text--body-1">Contrast was considered in all of HCA Design System patterns.  This goes beyond just color ratio contrast. Contrast was considered in icon imagery, typography, and suggested interactions or animations to make their differentiation identifiable. To get an understanding of the various low vision disabilities, we recommend using the <a href="https://chrome.google.com/webstore/detail/nocoffee/jjeeggmbnhckmgdhmgdckeigabjfbddl" title="Nocoffee Chrome browser plugin">NoCoffee Chrome plugin</a> to preview websites. </p>
      </div>
    </div>
    <div class="col-sm-6" style="display: flex; justify-content: center; align-items: center;">
        <img class="img-responsive" src="../images/accessibility/contrast.png">
    </div>
  </div>

  <div class="row" style="display: flex; flex-wrap: wrap; justify-content: flex-end; align-items: center; padding-bottom:50px;">
    <div class="col-sm-6">
      <h4 class="hca-text--title">Visual Hierarchy</h4>
      <div class="site-container--body-content" style="margin-bottom: 0px;">
        <p class="hca-text--body-1">Within the HCA Design System visual hierarchy was taken into account within obvious elements such as elevation and typography.</p>
        <p class="hca-text--body-1">When designing and developing any product at HCA keep in mind that visual hierarchy should still be intact if a user chooses to zoom. Low-vision users should be able to increase the size of the text by up to 200 percent without breaking the layout.</p>
      </div>
    </div>
    <div class="col-sm-6" style="display: flex; justify-content: center; align-items: center;">
        <img class="img-responsive" src="../images/accessibility/visual-hierarchy.png">
    </div>
  </div>
</article>
{{!-- / CORE CONCEPTS --}}


{{!-- Pagination Navigation --}}
<nav class="site-pagination">
  <div class="row">
    <div class="col-sm-12 text-right">
      <a href="{{page.base_url}}patterns/search/" class="hca-button hca-button--has-icon-left">Back to Search <span class="material-icons">keyboard_arrow_left</span></a>
      <a href="{{page.base_url}}get-updates/" class="hca-button hca-button--has-icon-right hca-text__color--night">Next: Get Updates <span class="material-icons">keyboard_arrow_right</span></a>
    </div>
  </div>
</nav>
