<span class="hca-typography--body-2">
  <span class="hca-color-swatch hca-color-swatch--xs hca-color-swatch--butterscotch"></span>
  Butterscotch
</span>
<span class="hca-typography__weight--semibold">HEX:</span> #FFB63D<br />
<span class="hca-typography__weight--semibold">RGB:</span> 255, 182, 61
