<span class="hca-typography--body-2">
  <span class="hca-color-swatch hca-color-swatch--xs hca-color-swatch--cadet"></span>
  Cadet
</span>
<span class="hca-typography__weight--semibold">HEX:</span> #465561 <br />
<span class="hca-typography__weight--semibold">RGB:</span> 70, 85, 97
