<span class="hca-typography--body-2">
  <span class="hca-color-swatch hca-color-swatch--xs hca-color-swatch--cranberry"></span>
  Cranberry
</span>
<span class="hca-typography__weight--semibold">HEX:</span> #990112<br />
<span class="hca-typography__weight--semibold">RGB:</span> 153, 1, 18
