<span class="hca-typography--body-2">
  <span class="hca-color-swatch hca-color-swatch--xs hca-color-swatch--evening"></span>
  Evening
</span>
<span class="hca-typography__weight--semibold">HEX:</span> #1E71CD<br />
<span class="hca-typography__weight--semibold">RGB:</span> 30, 113, 205
