<span class="hca-typography--body-2">
  <span class="hca-color-swatch hca-color-swatch--xs hca-color-swatch--geyser"></span>
  Geyser
</span>
<span class="hca-typography__weight--semibold">HEX:</span> #D8DDE6 <br />
<span class="hca-typography__weight--semibold">RGB:</span> 216, 221, 230
