<span class="hca-typography--body-2">
  <span class="hca-color-swatch hca-color-swatch--xs hca-color-swatch--grass"></span>
  Grass
</span>
<span class="hca-typography__weight--semibold">HEX:</span> #26CC6D<br />
<span class="hca-typography__weight--semibold">RGB:</span> 38, 204, 109
