{{!-- <span class="hca-text--body-2">
  <span class="hca-color-swatch hca-color-swatch--xs hca-color-swatch--hazelnut"></span>
  Hazelnut
</span>
<span class="hca-text__weight--semibold">HEX:</span> #966C24<br />
<span class="hca-text__weight--semibold">RGB:</span> 150, 108, 36 --}}

#966C24 (<a href="{{page.base_url}}essentials/color" target="_blank">Hazelnut</a>)
