<span class="hca-typography--body-2">
  <span class="hca-color-swatch hca-color-swatch--xs hca-color-swatch--hazelnut"></span>
  Hazelnut
</span>
<span class="hca-typography__weight--semibold">HEX:</span> #966C24<br />
<span class="hca-typography__weight--semibold">RGB:</span> 150, 108, 36
