{{!-- <span class="hca-typography--body-2">
  <span class="hca-color-swatch hca-color-swatch--xs hca-color-swatch--ivy"></span>
  Ivy
</span>
<span class="hca-typography__weight--semibold">HEX:</span> #208052<br />
<span class="hca-typography__weight--semibold">RGB:</span> 32, 128, 82 --}}

#208052 (<a href="{{page.base_url}}essentials/color" target="_blank">Ivy</a>)
