<span class="hca-typography--body-2">
  <span class="hca-color-swatch hca-color-swatch--xs hca-color-swatch--mint"></span>
  Mint
</span>
<span class="hca-typography__weight--semibold">HEX:</span> #E9F9F0<br />
<span class="hca-typography__weight--semibold">RGB:</span> 233, 249, 240
