{{!-- <span class="hca-text--body-2">
  <span class="hca-color-swatch hca-color-swatch--xs hca-color-swatch--mint"></span>
  Mint
</span>
<span class="hca-text__weight--semibold">HEX:</span> #E9F9F0<br />
<span class="hca-text__weight--semibold">RGB:</span> 233, 249, 240 --}}

#E9F9F0 (<a href="{{page.base_url}}essentials/color" target="_blank">Mint</a>)
