<span class="hca-typography--body-2">
  <span class="hca-color-swatch hca-color-swatch--xs hca-color-swatch--mocha"></span>
  Mocha
</span>
<span class="hca-typography__weight--semibold">HEX:</span> #6F4704<br />
<span class="hca-typography__weight--semibold">RGB:</span> 111, 71, 4
