{{!-- <span class="hca-typography--body-2">
  <span class="hca-color-swatch hca-color-swatch--xs hca-color-swatch--morning"></span>
  Morning
</span>
<span class="hca-typography__weight--semibold">HEX:</span> #E9F3FE<br />
<span class="hca-typography__weight--semibold">RGB:</span> 233, 243, 254 --}}

#E9F3FE (<a href="{{page.base_url}}essentials/color" target="_blank">Morning</a>)
