<span class="hca-typography--body-2">
  <span class="hca-color-swatch hca-color-swatch--xs hca-color-swatch--night"></span>
  Night
</span>
<span class="hca-typography__weight--semibold">HEX:</span> #063D7A<br />
<span class="hca-typography__weight--semibold">RGB:</span> 6, 61, 122
