{{!-- <span class="hca-text--body-2">
  <span class="hca-color-swatch hca-color-swatch--xs hca-color-swatch--noon"></span>
  Noon
</span>
<span class="hca-text__weight--semibold">HEX:</span> #268AF9<br />
<span class="hca-text__weight--semibold">RGB:</span> 38, 138, 249 --}}

#268AF9 (<a href="{{page.base_url}}essentials/color" target="_blank">Noon</a>)
