<span class="hca-typography--body-2">
  <span class="hca-color-swatch hca-color-swatch--xs hca-color-swatch--pine"></span>
  Pine
</span>
<span class="hca-typography__weight--semibold">HEX:</span> #10572F<br />
<span class="hca-typography__weight--semibold">RGB:</span> 16, 87, 47
