<span class="hca-typography--body-2">
  <span class="hca-color-swatch hca-color-swatch--xs hca-color-swatch--slate"></span>
  Slate
</span>
<span class="hca-typography__weight--semibold">HEX:</span> #7F94A2 <br />
<span class="hca-typography__weight--semibold">RGB:</span> 127, 148, 162
