{{!-- <span class="hca-typography--body-2">
  <span class="hca-color-swatch hca-color-swatch--xs hca-color-swatch--steam"></span>
  Steam
</span>
<span class="hca-typography__weight--semibold">HEX:</span> #F5F7F9<br />
<span class="hca-typography__weight--semibold">RGB:</span> 245, 247, 249 --}}

#F5F7F9 (<a href="{{page.base_url}}essentials/color" target="_blank">Steam</a>)
