{{!-- <span class="hca-text--body-2">
  <span class="hca-color-swatch hca-color-swatch--xs hca-color-swatch--strawberry"></span>
  Strawberry
</span>
<span class="hca-text__weight--semibold">HEX:</span> #F55D50<br />
<span class="hca-text__weight--semibold">RGB:</span> 245, 93, 80 --}}

#F55D50 (<a href="{{page.base_url}}essentials/color" target="_blank">Strawberry</a>)
