<span class="hca-typography--body-2">
  <span class="hca-color-swatch hca-color-swatch--xs hca-color-swatch--strawberry"></span>
  Strawberry
</span>
<span class="hca-typography__weight--semibold">HEX:</span> #F55D50<br />
<span class="hca-typography__weight--semibold">RGB:</span> 245, 93, 80
