{{!-- <span class="hca-typography--body-2">
  <span class="hca-color-swatch hca-color-swatch--xs hca-color-swatch--vanilla"></span>
  Vanilla
</span>
<span class="hca-typography__weight--semibold">HEX:</span> #FFF4E2<br />
<span class="hca-typography__weight--semibold">RGB:</span> 255, 244, 226 --}}

#FFF4E2 (<a href="{{page.base_url}}essentials/color" target="_blank">Vanilla</a>)
