<span class="hca-typography--body-2">
  <span class="hca-color-swatch hca-color-swatch--xs hca-color-swatch--watermelon"></span>
  Watermelon
</span>
<span class="hca-typography__weight--semibold">HEX:</span> #FEE7E5<br />
<span class="hca-typography__weight--semibold">RGB:</span> 254, 231, 229
