{{!-- <span class="hca-typography--body-2">
  <span class="hca-color-swatch hca-color-swatch--xs hca-color-swatch--white"></span>
  White
</span>
<span class="hca-typography__weight--semibold">HEX:</span> #FFFFFF <br />
<span class="hca-typography__weight--semibold">RGB:</span> 255, 255, 255 --}}

#FFFFFF (<a href="{{page.base_url}}essentials/color" target="_blank">White</a>)
