.hca-app-bar {
  display: block;
  width: 100%;
  height: $hca-app-bar-height;
  line-height: $hca-app-bar-height;
  background-color: $color__cadet;
  color: $color__white;
  padding-right: $hca-app-bar-horizontal-spacing;
  padding-left: $hca-app-bar-horizontal-spacing;
  // overflow: hidden;
  // white-space: nowrap;
  // text-overflow: ellipsis;
  text-align: center;

  @include level-1;
}

// .hca-app-bar__menu-toggle {
//   position: absolute;
//   top: 0;
//   left: 0;
//   margin-top: 10px;
//   margin-left: 10px;
//   z-index: $z-level-4;
// }

.hca-app-bar__title {
  // position: absolute;
  display: inline-block;
  height: $hca-app-bar-height;
  line-height: $hca-app-bar-height;
  font-size: 16px;
  // font-weight: 600;
  margin-left: 70px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 70px);

  //max-width settings for ellipsis at different screen sizes

  @media (min-width: $min-screen__laptop) {
    margin-left: 0;
    max-width: calc(100% - 140px);
  }
}

//modifiers
.hca-app-bar--fixed-top {
  position: fixed;
  top: 0;
  left: 0;
}
