
$hca-list--horiztonal-padding: 20px;
$hca-list--vertical-margin: 10px;
.hca-list {
  display: block;
  color: $color__text;
  // margin-top: $hca-list--vertical-margin;
  margin-bottom: $hca-list--vertical-margin;

  .material-icons {
    // vertical-align: middle;
    float: right;
    margin-top: 14px;
  }

}


.hca-list__item {
  display: block;
  width: 100%;
  color: $color__asphalt;
  height: 50px;
  line-height: 50px;
  font-weight: $font-weight__semi-bold;
  padding-left: $hca-list--horiztonal-padding;
  padding-right: $hca-list--horiztonal-padding;

  &--nested,
  &--double-nested {
    width: calc(100% - 10px); //offsets nested margin left
    color: $color__cadet;
    height: 35px;
    line-height: 35px;
    font-weight: $font-weight__regular;
    border-left: 2px solid transparent;
    padding-left: $hca-list--horiztonal-padding/2;

  }

  &--nested {
    margin-left: $hca-list--horiztonal-padding;
    padding-left: $hca-list--horiztonal-padding;
  }

  &--double-nested {
    margin-left: $hca-list--horiztonal-padding*1.5;
  }

  &:hover {
    text-decoration: none;
  }

  &:hover,
  &:focus {
    background-color: $color__steam;
  }
}
