$icon-badge-size-default: 50px;

.hca-icon-badge {
  height: $icon-badge-size-default;
  width: $icon-badge-size-default;
  line-height: $icon-badge-size-default;
  border-radius: 50%;
  margin-bottom: 10px;
  background-color: $color__geyser;

  &:first-child,
  .material-icons {
    text-align: center;
    line-height: $icon-badge-size-default !important;
    font-size: 30px;
  }
}
