$color__menu-background: $background-color;
$color__menu-background--hover: $background-color--secondary;

.menu {
  list-style: none;
  padding-left: 0;

  &--nested {
    // padding-left: 1rem;
  }

  &__heading {
    display: block;
    font-weight: $font-weight__semi-bold;
    padding: 1rem;
  }

  &__subheading {
    color: $color__text--secondary;
    font-size: .75rem;
    font-weight: $font-weight__semi-bold;
  }

  &__item {
    display: block;
    font-weight: $font-weight__semi-bold;
    padding: 1rem;

    &:hover {
      background-color: $color__menu-background--hover;
    }

    &--nested {
      font-weight: $font-weight__regular;
      padding-left: 2rem;
    }
  }
}
