---
layout: no-tabs.hbs
title: Color
base_url: '../../'
---


<div class="tab-content">

  {{!-- USAGE TAB --}}
  <div role="tabpanel" class="tab-pane active" id="app-guidelines-tab">
    <section class="app-tab-header">
      <div class="row">
        <div class="col-sm-7">
          <div class="hca-layout__container--body-content">
            <p class="hca-typography--subhead hca-typography__color--asphalt">Color, typography, and iconography are the foundation to this visual language. These principle elements empower anyone  to create hierarchy, establish accessible patterns, and communicate clearly.</p>
            <p class="hca-typography--subhead hca-typography__color--asphalt">HCA Design System utilizes a core color palette that creates accessible visual experiences by use of contrast before hue. These core colors are AA (in some cases AAA) verified for accessibility, and can be used in conjunction with any brand's palette.</p>
          </div>
        </div>
        <div class="col-sm-5">
          <nav>
            <ul class="app-toc">
              <h2 class="hca-typography--subhead">Contents:</h2>
              <li class="app-toc__item"><a href="#section-system-grays">Grays: Default</a></li>
              <li class="app-toc__item"><a href="#section-blues">Blues: Info/Primary</a></li>
              <li class="app-toc__item"><a href="#section-greens">Greens: Success/Positive</a></li>
              <li class="app-toc__item"><a href="#section-yellows">Yellows: Warning/Caution</a></li>
              <li class="app-toc__item"><a href="#section-reds">Reds: Danger/Error</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </section>

    <article id="section-system-grays">
      <section class="app-section">
        <h2 class="app-article-headline hca-typography--headline">System Grays / Tints</h2>
        <div class="row">
          <div class="col-sm-6">
            <div class="hca-layout__container--body-content">
              <p class="hca-typography--body-1">All designs should be complete and understandable using only the system grays or tints. This eliminates any dependency on color for specific context or heirarchy.</p>
              <p class="hca-typography--body-1">This, in turn, ensures accessible content and allows color only to enhance the visual experience.</p>
            </div>
          </div>
          {{!-- <div class="col-sm-6">
            <div class="app-card hca-background--white">
              <div class="row">
                <div class="col-sm-4">
                  <div class="hca-color-swatch hca-color-swatch--asphalt hca-color-swatch--full-width hca-typography__color--white">Asphalt</div>
                </div>
                <div class="col-sm-4">
                  <div class="hca-color-swatch hca-color-swatch--cadet hca-color-swatch--full-width hca-typography__color--white">Cadet</div>
                </div>
                <div class="col-sm-4">
                  <div class="hca-color-swatch hca-color-swatch--slate hca-color-swatch--full-width hca-typography__color--white">Slate</div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="hca-color-swatch hca-color-swatch--geyser hca-color-swatch--full-width hca-typography__color--asphalt">Geyser</div>
                </div>
                <div class="col-sm-4">
                  <div class="hca-color-swatch hca-color-swatch--steam hca-color-swatch--full-width">Steam</div>
                </div>
                <div class="col-sm-4">
                  <div class="hca-color-swatch hca-color-swatch--white hca-color-swatch--full-width">White</div>
                </div>
              </div>
            </div>
          </div> --}}
        </div>

        <div class="row">
          <div class="col-sm-3">
            <div class="hca-layout__container--body-content">
              <div class="hca-color-swatch hca-color-swatch--asphalt hca-color-swatch--xl"></div>
              <span class="hca-typography--body-2">
                Asphalt
              </span>
              <span class="hca-typography__weight--semibold">HEX:</span> #1F2532 <br />
              <span class="hca-typography__weight--semibold">RGB:</span> 31, 37, 50
              <br /><br />
              <p class="hca-typography--body-1">Use cases: <br /> Black, Headings, Titles, Contrast body copy</p>
              <p class="hca-typography--support">Note: AAA accessible on White, Steam, and Geyser backgrounds. AA accessible on Slate background.</p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="hca-layout__container--body-content">
              <div class="hca-color-swatch hca-color-swatch--cadet hca-color-swatch--xl"></div>
              <span class="hca-typography--body-2">
                Cadet
              </span>
              <span class="hca-typography__weight--semibold">HEX:</span> #465561 <br />
              <span class="hca-typography__weight--semibold">RGB:</span> 70, 85, 97
              <br /><br />
              <p class="hca-typography--body-1">Use cases: <br /> Primary text color</p>
              <p class="hca-typography--support">Note: AAA accessible on White and Steam backgrounds. AA accessible on Geyser background.</p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="hca-layout__container--body-content">
              <div class="hca-color-swatch hca-color-swatch--slate hca-color-swatch--xl"></div>
              <span class="hca-typography--body-2">
                Slate
              </span>
              <span class="hca-typography__weight--semibold">HEX:</span> #7F94A2 <br />
              <span class="hca-typography__weight--semibold">RGB:</span> 127, 148, 162
              <br /><br />
              <p class="hca-typography--body-1">Use cases: <br /> Background, Icon, Graphic</p>
              <p class="hca-typography--support">Note: Use only Asphalt or Cadet for text content.</p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="hca-layout__container--body-content">
              <div class="hca-color-swatch hca-color-swatch--geyser hca-color-swatch--xl"></div>
              <span class="hca-typography--body-2">
                Geyser
              </span>
              <span class="hca-typography__weight--semibold">HEX:</span> #D8DDE6 <br />
              <span class="hca-typography__weight--semibold">RGB:</span> 216, 221, 230
              <br /><br />
              <p class="hca-typography--body-1">Use cases: <br /> Background</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="hca-layout__container--body-content">
              <div class="hca-color-swatch hca-color-swatch--steam hca-color-swatch--xl"></div>
              <span class="hca-typography--body-2">
                Steam
              </span>
              <span class="hca-typography__weight--semibold">HEX:</span> #F5F7F9<br />
              <span class="hca-typography__weight--semibold">RGB:</span> 245, 247, 249
              <br /><br />
              <p class="hca-typography--body-1">Use cases: <br /> Primary background</p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="hca-layout__container--body-content">
              <div class="hca-color-swatch hca-color-swatch--white hca-color-swatch--xl"></div>
              <span class="hca-typography--body-2">
                White
              </span>
              <span class="hca-typography__weight--semibold">HEX:</span> #FFFFFF <br />
              <span class="hca-typography__weight--semibold">RGB:</span> 255, 255, 255
              <br /><br />
              <p class="hca-typography--body-1">Use cases: <br /> Primary / default component background, primary text on dark backgrounds</p>
            </div>
          </div>
        </div>
      </section>
      {{!-- / GRAYS section --}}
    </article>


    <article id="section-system-utility-colors">
      <h2 class="app-article-headline hca-typography--headline">System Utility / Feedback Colors</h2>
      <div class="hca-layout__container--body-content">
        <p class="hca-typography--body-1">There are four color groups that HCA defines for utility (or feedback) purposes within a digital experience. These colors have very specific use cases and are meant to be used in conjunction with a brand palette.</p>

        <p class="hca-typography--body-1">Branding identity should never be applied to the use cases for these colors to ensure a consistent and accessible experience on all HCA digital products.</p>
      </div>


      {{!-- DEFAULT COLORS --}}
      <div id="section-blues" class="app-section">
        <h3 class="hca-typography--title hca-typography__color--asphalt">Primary / Info</h3>
        <div class="row">
          <div class="col-sm-6">
            <div class="hca-layout__container--body-content">
              <p class="hca-typography--body-1">These colors can be utilized to add emphasis or call attention to a neutral message or primary action. An example of this would be the color of a button when there is a primary action next to a secondary action, or a neutral alert message that you would like to call the user’s attention to, but is not particularly urgent.</p>
            </div>
          </div>
          {{!-- <div class="col-sm-6">
            <div class="app-card hca-background--white">
              <div class="row">
                <div class="col-sm-3">
                  <div class="hca-color-swatch hca-color-swatch--night hca-color-swatch--full-width hca-typography__color--morning">Night</div>
                </div>
                <div class="col-sm-3">
                  <div class="hca-color-swatch hca-color-swatch--evening hca-color-swatch--full-width hca-typography__color--white">Evening</div>
                </div>
                <div class="col-sm-3">
                  <div class="hca-color-swatch hca-color-swatch--noon hca-color-swatch--full-width hca-typography__color--white">Noon</div>
                </div>
                <div class="col-sm-3">
                  <div class="hca-color-swatch hca-color-swatch--morning hca-color-swatch--full-width hca-typography__color--night">Morning</div>
                </div>
              </div>
            </div>
          </div> --}}
        </div>

        <div class="row">
          <div class="col-sm-3">
            <div class="hca-layout__container--body-content">
              <div class="hca-color-swatch hca-color-swatch--night hca-color-swatch--xl"></div>
              <span class="hca-typography--body-2">
                Night
              </span>
              <span class="hca-typography__weight--semibold">HEX:</span> #063D7A<br />
              <span class="hca-typography__weight--semibold">RGB:</span> 6, 61, 122
              <br /><br />
              <p class="hca-typography--body-1">Use cases: <br /> Text links, Primary info / alert text, Primary component background</p>
              <p class="hca-typography--support">Note: AAA accessible on White, Steam, Geyser, and Morning backgrounds.</p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="hca-layout__container--body-content">
              <div class="hca-color-swatch hca-color-swatch--evening hca-color-swatch--xl"></div>
              <span class="hca-typography--body-2">
                Evening
              </span>
              <span class="hca-typography__weight--semibold">HEX:</span> #1E71CD<br />
              <span class="hca-typography__weight--semibold">RGB:</span> 30, 113, 205
              <br /><br />
              <p class="hca-typography--body-1">Use cases: <br /> Primary flat button text, Primary raised button background, Icon, Graphic </p>
              <p class="hca-typography--support">Note: Use only in contrast to White or Steam for text or component content.</p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="hca-layout__container--body-content">
              <div class="hca-color-swatch hca-color-swatch--noon hca-color-swatch--xl"></div>
              <span class="hca-typography--body-2">
                Noon
              </span>
              <span class="hca-typography__weight--semibold">HEX:</span> #268AF9<br />
              <span class="hca-typography__weight--semibold">RGB:</span> 38, 138, 249
              <br /><br />
              <p class="hca-typography--body-1">Use cases: <br />Icon or Graphic</p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="hca-layout__container--body-content">
              <div class="hca-color-swatch hca-color-swatch--morning hca-color-swatch--xl"></div>
              <span class="hca-typography--body-2">
                Morning
              </span>
              <span class="hca-typography__weight--semibold">HEX:</span> #E9F3FE<br />
              <span class="hca-typography__weight--semibold">RGB:</span> 233, 243, 254
              <br /><br />
              <p class="hca-typography--body-1">Use cases: <br />Background or highlight color</p>
            </div>
          </div>
        </div>
      </div>

      {{!-- SUCCESS COLORS --}}
      <div id="section-greens" class="app-section">
        <h3 class="hca-typography--title hca-typography__color--asphalt">Success / Positive</h3>
        <div class="row">
          <div class="col-sm-6">
            <div class="hca-layout__container--body-content">
              <p class="hca-typography--body-1">These colors should only be used to enhance a “success” or a “positive” message or action within your digital experience. An example of this would be a success message after submitting a form, or a button color to confirm a positive action.</p>
            </div>
          </div>
          {{!-- <div class="col-sm-6">
            <div class="app-card hca-background--white">
              <div class="row">
                <div class="col-sm-3">
                  <div class="hca-color-swatch hca-color-swatch--pine hca-color-swatch--full-width hca-typography__color--mint">Pine</div>
                </div>
                <div class="col-sm-3">
                  <div class="hca-color-swatch hca-color-swatch--ivy hca-color-swatch--full-width hca-typography__color--white">Ivy</div>
                </div>
                <div class="col-sm-3">
                  <div class="hca-color-swatch hca-color-swatch--grass hca-color-swatch--full-width hca-typography__color--asphalt">Grass</div>
                </div>
                <div class="col-sm-3">
                  <div class="hca-color-swatch hca-color-swatch--mint hca-color-swatch--full-width hca-typography__color--pine">Mint</div>
                </div>
              </div>
            </div>
          </div> --}}
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="hca-layout__container--body-content">
              <div class="hca-color-swatch hca-color-swatch--pine hca-color-swatch--xl"></div>
              <span class="hca-typography--body-2">
                Pine
              </span>
              <span class="hca-typography__weight--semibold">HEX:</span> #10572F<br />
              <span class="hca-typography__weight--semibold">RGB:</span> 16, 87, 47
              <br /><br />
              <p class="hca-typography--body-1">Use cases: <br />Success or positive text. Flat button text.</p>
              <p class="hca-typography--support">Note: AAA accessible on White, Steam, and Mint backgrounds.</p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="hca-layout__container--body-content">
              <div class="hca-color-swatch hca-color-swatch--ivy hca-color-swatch--xl"></div>
              <span class="hca-typography--body-2">
                Ivy
              </span>
              <span class="hca-typography__weight--semibold">HEX:</span> #208052<br />
              <span class="hca-typography__weight--semibold">RGB:</span> 32, 128, 82
              <br /><br />
              <p class="hca-typography--body-1">Use cases: <br /> Raised button background, Icon, Graphic </p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="hca-layout__container--body-content">
              <div class="hca-color-swatch hca-color-swatch--grass hca-color-swatch--xl"></div>
              <span class="hca-typography--body-2">
                Grass
              </span>
              <span class="hca-typography__weight--semibold">HEX:</span> #26CC6D<br />
              <span class="hca-typography__weight--semibold">RGB:</span> 38, 204, 109
              <br /><br />
              <p class="hca-typography--body-1">Use cases: <br />Icon or Graphic</p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="hca-layout__container--body-content">
              <div class="hca-color-swatch hca-color-swatch--mint hca-color-swatch--xl"></div>
              <span class="hca-typography--body-2">
                Mint
              </span>
              <span class="hca-typography__weight--semibold">HEX:</span> #E9F9F0<br />
              <span class="hca-typography__weight--semibold">RGB:</span> 233, 249, 240
              <br /><br />
              <p class="hca-typography--body-1">Use cases: <br />Background or highlight color</p>
            </div>
          </div>
        </div>
      </div>

      {{!-- WARNING COLORS --}}
      <div id="section-yellows" class="app-section">
        <h3 class="hca-typography--title hca-typography__color--asphalt">Warning / Caution</h3>
        <div class="row">
          <div class="col-sm-6">
            <div class="hca-layout__container--body-content">
              <p class="hca-typography--body-1">These colors should only be used to enhance a “warning” or a “caution” message or action within your digital experience.</p>
            </div>
          </div>
          {{!-- <div class="col-sm-6">
            <div class="app-card hca-background--white">
              <div class="row">
                <div class="col-sm-3">
                  <div class="hca-color-swatch hca-color-swatch--mocha hca-color-swatch--full-width hca-typography__color--vanilla">Mocha</div>
                </div>
                <div class="col-sm-3">
                  <div class="hca-color-swatch hca-color-swatch--hazelnut hca-color-swatch--full-width hca-typography__color--white">Hazelnut</div>
                </div>
                <div class="col-sm-3">
                  <div class="hca-color-swatch hca-color-swatch--butterscotch hca-color-swatch--full-width hca-typography__color--asphalt">Butterscotch</div>
                </div>
                <div class="col-sm-3">
                  <div class="hca-color-swatch hca-color-swatch--vanilla hca-color-swatch--full-width hca-typography__color--mocha">Vanilla</div>
                </div>
              </div>
            </div>
          </div> --}}
        </div>

        <div class="row">
          <div class="col-sm-3">
            <div class="hca-layout__container--body-content">
              <div class="hca-color-swatch hca-color-swatch--mocha hca-color-swatch--xl"></div>
              <span class="hca-typography--body-2">
                Mocha
              </span>
              <span class="hca-typography__weight--semibold">HEX:</span> #6F4704<br />
              <span class="hca-typography__weight--semibold">RGB:</span> 111, 71, 4
              <br /><br />
              <p class="hca-typography--body-1">Use cases: <br />Caution or warning context text. Flat button text</p>
              <p class="hca-typography--support">Note: AAA accessible on White, Steam, and Vanilla backgrounds.</p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="hca-layout__container--body-content">
              <div class="hca-color-swatch hca-color-swatch--hazelnut hca-color-swatch--xl"></div>
              <span class="hca-typography--body-2">
                Hazelnut
              </span>
              <span class="hca-typography__weight--semibold">HEX:</span> #966C24<br />
              <span class="hca-typography__weight--semibold">RGB:</span> 150, 108, 36
              <br /><br />
              <p class="hca-typography--body-1">Use cases: <br /> Raised button background, Icon, Graphic </p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="hca-layout__container--body-content">
              <div class="hca-color-swatch hca-color-swatch--butterscotch hca-color-swatch--xl"></div>
              <span class="hca-typography--body-2">
                Butterscotch
              </span>
              <span class="hca-typography__weight--semibold">HEX:</span> #FFB63D<br />
              <span class="hca-typography__weight--semibold">RGB:</span> 255, 182, 61
              <br /><br />
              <p class="hca-typography--body-1">Use cases: <br />Icon or Graphic</p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="hca-layout__container--body-content">
              <div class="hca-color-swatch hca-color-swatch--vanilla hca-color-swatch--xl"></div>
              <span class="hca-typography--body-2">
                Vanilla
              </span>
              <span class="hca-typography__weight--semibold">HEX:</span> #FFF4E2<br />
              <span class="hca-typography__weight--semibold">RGB:</span> 255, 244, 226
              <br /><br />
              <p class="hca-typography--body-1">Use cases: <br />Background or highlight color</p>
            </div>
          </div>
        </div>
      </div>

      {{!-- ERROR COLORS --}}
      <div id="section-reds" class="app-section">
        <h3 class="hca-typography--title hca-typography__color--asphalt">Error / Danger</h3>
        <div class="row">
          <div class="col-sm-6">
            <div class="hca-layout__container--body-content">
              <p class="hca-typography--body-1">These colors should only be used to enhance an “error” or a “danger” message, component, or action within your digital experience. An example of this would be a form field with an error that changes border color, error text color, and shows an error icon.</p>
            </div>
          </div>
          {{!-- <div class="col-sm-6">
            <div class="app-card hca-background--white">
              <div class="row">
                <div class="col-sm-3">
                  <div class="hca-color-swatch hca-color-swatch--cranberry hca-color-swatch--full-width hca-typography__color--watermelon">Cranberry</div>
                </div>
                <div class="col-sm-3">
                  <div class="hca-color-swatch hca-color-swatch--cherry hca-color-swatch--full-width hca-typography__color--white">Cherry</div>
                </div>
                <div class="col-sm-3">
                  <div class="hca-color-swatch hca-color-swatch--strawberry hca-color-swatch--full-width hca-typography__color--asphalt">Strawberry</div>
                </div>
                <div class="col-sm-3">
                  <div class="hca-color-swatch hca-color-swatch--watermelon hca-color-swatch--full-width hca-typography__color--cherry">Watermelon</div>
                </div>
              </div>
            </div>
          </div> --}}
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="hca-layout__container--body-content">
              <div class="hca-color-swatch hca-color-swatch--cranberry hca-color-swatch--xl"></div>
              <span class="hca-typography--body-2">
                Cranberry
              </span>
              <span class="hca-typography__weight--semibold">HEX:</span> #990112<br />
              <span class="hca-typography__weight--semibold">RGB:</span> 153, 1, 18
              <br /><br />
              <p class="hca-typography--body-1">Use cases: <br />Error, Danger, or Failure text. Flat button text.</p>
              <p class="hca-typography--support">Note: AAA accessible on White, Steam, and Watermelon backgrounds.</p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="hca-layout__container--body-content">
              <div class="hca-color-swatch hca-color-swatch--cherry hca-color-swatch--xl"></div>
              <span class="hca-typography--body-2">
                Cherry
              </span>
              <span class="hca-typography__weight--semibold">HEX:</span> #C83426<br />
              <span class="hca-typography__weight--semibold">RGB:</span> 200, 52, 38
              <br /><br />
              <p class="hca-typography--body-1">Use cases: <br /> Raised button background, Icon, Graphic </p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="hca-layout__container--body-content">
              <div class="hca-color-swatch hca-color-swatch--strawberry hca-color-swatch--xl"></div>
              <span class="hca-typography--body-2">
                Strawberry
              </span>
              <span class="hca-typography__weight--semibold">HEX:</span> #F55D50<br />
              <span class="hca-typography__weight--semibold">RGB:</span> 245, 93, 80
              <br /><br />
              <p class="hca-typography--body-1">Use cases: <br />Icon or Graphic</p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="hca-layout__container--body-content">
              <div class="hca-color-swatch hca-color-swatch--watermelon hca-color-swatch--xl"></div>
              <span class="hca-typography--body-2">
                Watermelon
              </span>
              <span class="hca-typography__weight--semibold">HEX:</span> #FEE7E5<br />
              <span class="hca-typography__weight--semibold">RGB:</span> 254, 231, 229
              <br /><br />
              <p class="hca-typography--body-1">Use cases: <br />Background or highlight color</p>
            </div>
          </div>
        </div>
      </div>
    </article>


  </div>

  {{!-- STYLES TAB --}}
  {{!-- <div role="tabpanel" class="tab-pane" id="app-styles-tab">
    <section class="app-tab-header">
      <div class="row">
        <div class="col-sm-5">
          <ul class="app-toc">
            <h2 class="hca-typography--subhead">Contents:</h2>
            <li class="app-toc__item"><a href="#section-specs-system-grays">Grays: Default</a></li>
            <li class="app-toc__item"><a href="#section-specs-blues">Blues: Info/Primary</a></li>
            <li class="app-toc__item"><a href="#section-specs-greens">Greens: Success/Positive</a></li>
            <li class="app-toc__item"><a href="#section-specs-yellows">Yellows: Warning/Caution</a></li>
            <li class="app-toc__item"><a href="#section-specs-reds">Reds: Danger/Error</a></li>
          </ul>
        </div>
      </div>
    </section>
    <article>
      <h1 class="app-article-headline hca-typography--headline">Specs</h1>
      <section id="section-specs-system-grays" class="app-section">
        <h2 class="hca-typography--title hca-typography__color--asphalt">Grays / Tints</h2>
        <div class="row">
          <div class="col-sm-3">
            <div class="hca-layout__container--body-content">
              <div class="hca-color-swatch hca-color-swatch--asphalt hca-color-swatch--xl"></div>
              {{> asphalt }}
              <br /><br />
              <p class="hca-typography--body-1">Use cases: <br /> Black, Headings, Titles, Contrast body copy</p>
              <p class="hca-typography--support">Note: AAA accessible on White, Steam, and Geyser backgrounds. AA accessible on Slate background.</p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="hca-layout__container--body-content">
              <div class="hca-color-swatch hca-color-swatch--cadet hca-color-swatch--xl"></div>
              {{> cadet }}
              <br /><br />
              <p class="hca-typography--body-1">Use cases: <br /> Primary text color</p>
              <p class="hca-typography--support">Note: AAA accessible on White and Steam backgrounds. AA accessible on Geyser background.</p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="hca-layout__container--body-content">
              <div class="hca-color-swatch hca-color-swatch--slate hca-color-swatch--xl"></div>
              {{> slate }}
              <br /><br />
              <p class="hca-typography--body-1">Use cases: <br /> Background, Icon, Graphic</p>
              <p class="hca-typography--support">Note: Use only Asphalt or Cadet for text content.</p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="hca-layout__container--body-content">
              <div class="hca-color-swatch hca-color-swatch--geyser hca-color-swatch--xl"></div>
              {{> geyser }}
              <br /><br />
              <p class="hca-typography--body-1">Use cases: <br /> Background</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="hca-layout__container--body-content">
              <div class="hca-color-swatch hca-color-swatch--steam hca-color-swatch--xl"></div>
              {{> steam }}
              <br /><br />
              <p class="hca-typography--body-1">Use cases: <br /> Primary background</p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="hca-layout__container--body-content">
              <div class="hca-color-swatch hca-color-swatch--white hca-color-swatch--xl"></div>
              {{> white }}
              <br /><br />
              <p class="hca-typography--body-1">Use cases: <br /> Primary / default component background, primary text on dark backgrounds</p>
            </div>
          </div>
        </div>
      </section>


      <section id="section-specs-blues" class="app-section">
        <h2 class="hca-typography--title hca-typography__color--asphalt">Primary / Info</h2>
        <div class="row">
          <div class="col-sm-3">
            <div class="hca-layout__container--body-content">
              <div class="hca-color-swatch hca-color-swatch--night hca-color-swatch--xl"></div>
              {{> night }}
              <br /><br />
              <p class="hca-typography--body-1">Use cases: <br /> Text links, Primary info / alert text, Primary component background</p>
              <p class="hca-typography--support">Note: AAA accessible on White, Steam, Geyser, and Morning backgrounds.</p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="hca-layout__container--body-content">
              <div class="hca-color-swatch hca-color-swatch--evening hca-color-swatch--xl"></div>
              {{> evening }}
              <br /><br />
              <p class="hca-typography--body-1">Use cases: <br /> Primary flat button text, Primary raised button background, Icon, Graphic </p>
              <p class="hca-typography--support">Note: Use only in contrast to White or Steam for text or component content.</p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="hca-layout__container--body-content">
              <div class="hca-color-swatch hca-color-swatch--noon hca-color-swatch--xl"></div>
              {{> noon }}
              <br /><br />
              <p class="hca-typography--body-1">Use cases: <br />Icon or Graphic</p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="hca-layout__container--body-content">
              <div class="hca-color-swatch hca-color-swatch--morning hca-color-swatch--xl"></div>
              {{> morning }}
              <br /><br />
              <p class="hca-typography--body-1">Use cases: <br />Background or highlight color</p>
            </div>
          </div>
        </div>
      </section>

      <section id="section-specs-greens" class="app-section">
        <h2 class="hca-typography--title hca-typography__color--asphalt">Success / Positive</h2>
        <div class="row">
          <div class="col-sm-3">
            <div class="hca-layout__container--body-content">
              <div class="hca-color-swatch hca-color-swatch--pine hca-color-swatch--xl"></div>
              {{> pine }}
              <br /><br />
              <p class="hca-typography--body-1">Use cases: <br />Success or positive text. Flat button text.</p>
              <p class="hca-typography--support">Note: AAA accessible on White, Steam, and Mint backgrounds.</p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="hca-layout__container--body-content">
              <div class="hca-color-swatch hca-color-swatch--ivy hca-color-swatch--xl"></div>
              {{> ivy }}
              <br /><br />
              <p class="hca-typography--body-1">Use cases: <br /> Raised button background, Icon, Graphic </p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="hca-layout__container--body-content">
              <div class="hca-color-swatch hca-color-swatch--grass hca-color-swatch--xl"></div>
              {{> grass }}
              <br /><br />
              <p class="hca-typography--body-1">Use cases: <br />Icon or Graphic</p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="hca-layout__container--body-content">
              <div class="hca-color-swatch hca-color-swatch--mint hca-color-swatch--xl"></div>
              {{> mint }}
              <br /><br />
              <p class="hca-typography--body-1">Use cases: <br />Background or highlight color</p>
            </div>
          </div>
        </div>
      </section>

      <section id="section-specs-yellows" class="app-section">
        <h2 class="hca-typography--title hca-typography__color--asphalt">Warning / Caution</h2>
        <div class="row">
          <div class="col-sm-3">
            <div class="hca-layout__container--body-content">
              <div class="hca-color-swatch hca-color-swatch--mocha hca-color-swatch--xl"></div>
              {{> mocha }}
              <br /><br />
              <p class="hca-typography--body-1">Use cases: <br />Caution or warning context text. Flat button text</p>
              <p class="hca-typography--support">Note: AAA accessible on White, Steam, and Vanilla backgrounds.</p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="hca-layout__container--body-content">
              <div class="hca-color-swatch hca-color-swatch--hazelnut hca-color-swatch--xl"></div>
              {{> hazelnut }}
              <br /><br />
              <p class="hca-typography--body-1">Use cases: <br /> Raised button background, Icon, Graphic </p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="hca-layout__container--body-content">
              <div class="hca-color-swatch hca-color-swatch--butterscotch hca-color-swatch--xl"></div>
              {{> butterscotch }}
              <br /><br />
              <p class="hca-typography--body-1">Use cases: <br />Icon or Graphic</p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="hca-layout__container--body-content">
              <div class="hca-color-swatch hca-color-swatch--vanilla hca-color-swatch--xl"></div>
              {{> vanilla }}
              <br /><br />
              <p class="hca-typography--body-1">Use cases: <br />Background or highlight color</p>
            </div>
          </div>
        </div>
      </section>


      <section id="section-specs-reds" class="app-section">
        <h2 class="hca-typography--title hca-typography__color--asphalt">Error / Danger</h2>
        <div class="row">
          <div class="col-sm-3">
            <div class="hca-layout__container--body-content">
              <div class="hca-color-swatch hca-color-swatch--cranberry hca-color-swatch--xl"></div>
              {{> cranberry }}
              <br /><br />
              <p class="hca-typography--body-1">Use cases: <br />Error, Danger, or Failure text. Flat button text.</p>
              <p class="hca-typography--support">Note: AAA accessible on White, Steam, and Watermelon backgrounds.</p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="hca-layout__container--body-content">
              <div class="hca-color-swatch hca-color-swatch--cherry hca-color-swatch--xl"></div>
              {{> cherry }}
              <br /><br />
              <p class="hca-typography--body-1">Use cases: <br /> Raised button background, Icon, Graphic </p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="hca-layout__container--body-content">
              <div class="hca-color-swatch hca-color-swatch--strawberry hca-color-swatch--xl"></div>
              {{> strawberry }}
              <br /><br />
              <p class="hca-typography--body-1">Use cases: <br />Icon or Graphic</p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="hca-layout__container--body-content">
              <div class="hca-color-swatch hca-color-swatch--watermelon hca-color-swatch--xl"></div>
              {{> watermelon }}
              <br /><br />
              <p class="hca-typography--body-1">Use cases: <br />Background or highlight color</p>
            </div>
          </div>
        </div>
      </section>

    </article>
  </div> --}}

  {{!-- CODE TAB --}}
  {{!-- <div role="tabpanel" class="tab-pane" id="app-code-tab">
    Coming soon.
  </div> --}}

</div>

<nav class="app-pagination">
  <div class="row">
    <div class="col-sm-12 text-right">
      <a href="{{page.base_url}}" class="hca-button hca-button--has-icon-left">Back to Get Started <span class="material-icons">keyboard_arrow_left</span></a>
      <a href="{{page.base_url}}essentials/typography/" class="hca-button hca-button--has-icon-right hca-typography__color--night">Next: Typography <span class="material-icons">keyboard_arrow_right</span></a>
    </div>
  </div>
</nav>
