---
layout: default.hbs
title: 'Liftoff'
body_class: 'index'
base_url: ''
---

<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">

<p style="position:absolute; top: 0; right: 0;">This <span class="em em-hankey"></span> is da <span class="em em-bomb"></span></p>
