---
layout: default.hbs
title: Get Started - HCA Design System
body_class: 'index'
base_url: ''
---


<h2 class="hca-typography--display-1">Welcome</h2>

<div class="hca-layout__container--body-content">
  <p class="hca-typography--body-1">The HCA Design System is created and maintained by the User Experience team at HCA. Inspired by other design systems such as Google’s  <a href="https://material.io/guidelines/" target="_blank">Material Design</a>, Apple's <a href="https://developer.apple.com/design/" target="_blank">Human Interface Guidelines</a>, and IBM's <a href="http://carbondesignsystem.com/" target="_blank">Carbon Design System</a>, it establishes a shared theory and mindset not just for designers, but for everyone involved in the creation of HCA digital products.</p>

  <p class="hca-typography--body-1">This shared understanding enables seamless collaboration. Each component in the style guide was given specific intent. With this mindset, we are equipped to instill the best possible experience for people using HCA digital products.</p>

  <p class="hca-typography--body-1">This design system presents a familiar experience, regardless of what HCA digital product an individual encounters. Familiarity creates comfort and trust. In turn, trust helps establish a continuum of care.</p>
</div>

<div class="hca-layout__container--body-content">
  <span class="hca-typography--body-2">Commitment to accessibility</span>
  <p class="hca-typography--body-1">Every person who has an experience with HCA has distinct needs. Based on industry accessibility standards, we have created a visual language that is inclusive to each individual.</p>
</div>
