---
layout: default.hbs
title: 'Liftoff'
body_class: 'index'
base_url: ''
---

<h1>hello, world</h1>

<p>Here are some variables name: <b>{{ name }}</b> with a widget modifier: <b>{{ modifier }}</b>.</p>
<p>Here are some other variables name: <b>{{ other-data.name }}</b> with a widget modifier: <b>{{ other-data.modifier }}</b>.</p>
