.site-drawer {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: $hca-drawer-width;
  height: 100%;
  height: 100vh;
  background-color: $color__white;
  // border: 1px solid red;
  overflow-y: scroll;

  @include level-3;


  //everything smaller than tablet gets full screen open drawer
  @media(max-width: 767px) {
    width: 100vw;
  }

}


.site-drawer--is-closed {
  transform: translateX(-300px);

  //everything smaller than tablet gets full screen open drawer
  @media(max-width: $screen__tablet) {
    transform: translateX(-100vw);
  }
}


.site-layout--has-drawer .hca-menu-toggle,
.site--landing-page .hca-menu-toggle {
  color: $color__asphalt;
  background-color: $color__white;
  box-shadow: $box-shadow__1;
}
