//
// Site specific styles/hacks. Separate from any styles in HCA Design System
//

body {
  background-color: $color__steam;
}

hr {
  border-color: rgba($color__asphalt, .25);
  margin-top: 50px;
  margin-bottom: 50px;
}

.site-header {
  background-color: $color__morning;
  margin-bottom: 30px;

  .hca-text--display-2,
  .hca-text--body-1 {
    color: $color__asphalt;
  }
}

.site-logo {
  display: block;
  max-width: 300px;
  width: 100%;
  margin: 10px auto;
  border: 0;
  &:hover,
  &:focus,
  &:active {
    background: transparent;
    border: 0;
  }
}


.site-drawer-nav {
  padding-left: 0;
  list-style: none;

  ul {
    padding-left: 0;
  }

  li {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
  }

  a,
  a:hover {
    border-bottom: none;
  }

  .hca-list__item.site-drawer-nav__item--active,
  .hca-list__item--nested.site-drawer-nav__item--active {
    color: $color__evening;
  }

  .hca-list__item--nested.site-drawer-nav__item--active {
    font-weight: 600;
    border-left: 2px solid $color__evening;
  }
}

.hca-list__item--small {
  font-size: 14px;
  font-weight: 400 !important;
}

.site-drawer-hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

.site-resource-links {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;


  &__link {
    align-self: center;
    font-size: 14px;
    height: 36px;
    width: 36px;
    border: none;

    //reset link styles for these links.
    &:hover,
    &:focus,
    &:active {
      background: none;
      border: none;

      svg {
        fill: $color__asphalt;
      }
    }

    svg {
      fill: $color__slate;
      height: 36px;
      width: 36px;
    }
  }
}

.site-section {
  margin-bottom: 50px;
}

.site-nav-header {
  padding: 20px;
  // padding-right: 20px;
  // padding-bottom: 20px;
  // padding-left: 20px;
  font-size: 26px;
  text-align: center;
  margin-top: 60px; //hacky value to make bottom line aligned with site-header line
}

.site-landing-page-section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.site-nav-footer-cc {
  padding: 20px;
  margin-bottom: 50px;
}


//navigation icon rotating.
.hca-list__item.collapsed .material-icons {
  transform: rotate(180deg);
}



$site-tab-stroke: 2px;
$site-tab-active-color: $color__asphalt;
$site-tab-inactive-color: rgba($site-tab-active-color, .7);
.site-tabs {
  border-bottom: 0;
  font-size: 14px;

  li,
  .site-tabs__tab {
    text-align: center;
    min-width: 62px;
    color: $site-tab-inactive-color;
    margin-bottom: 0;

    //active tab
    &.active {

      a,
      a:hover,
      a:active,
      a:focus {
        color: $site-tab-active-color;
        background-color: transparent;
        font-weight: 600;
        border-top: none;
        border-right: none;
        border-bottom: $site-tab-stroke solid $site-tab-active-color;
        border-left: none;
      }
    }

    //default links in tabs
    a {
      margin-right: 0;
      color: $site-tab-inactive-color;
      width: 100px;
      height: 50px;
      line-height: 50px;
      padding: 0 10px;
      border-radius: 0;
      border-top: none;
      border-right: none;
      border-left: none;
      border-bottom: $site-tab-stroke solid transparent;
      text-align: center;

      &:hover,
      &:focus,
      &:active {
        color: $color__cadet;
        background-color: transparent;
        border-bottom: $site-tab-stroke solid $site-tab-inactive-color;
      }
    }

  }

  //justified tabs only on mobile.
  //this is opposite of bootstrap's nav-justified class
  @media (max-width: 400px) {
    width: 100%;
    min-width: 300px;
    margin-left: -20px;
    display: table;


    li,
    .site-tabs__tab {
      min-width: 62px;
      float: none;
      display: table-cell;
      width: 100px;
      text-align: center;

      a {
        padding: 0;
        width: 100%;
      }
    }
  }

}
// end site-tabs customized bootstrap tabs

.site-tab-header {
  margin-bottom: 50px;
}

.site-toc {
  padding-left: 15px;
  border-left: 3px solid $color__cadet;
  list-style: none;

  a {
    border: none;
  }
}
.site-toc__item {
  font-weight: 600;
  padding-top: 5px;
  padding-bottom: 5px;
}

.site-article-headline {
  &:after {
    display: block;
    content: '';
    margin-top: 15px;
    height: 3px;
    width: 100px;
    background-color: $color__asphalt;
  }
  margin-bottom: 30px;
}


.site-type-specs--type-list {
  display: block;
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;

  margin-bottom: 30px;
}


.site-card {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  border: 1px solid transparent;

  &.hca-background--steam {
    border: 1px solid $color__geyser;
  }
}


.site-pagination {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 40px;
  line-height: 40px;
  background-color: $color__white;
  box-shadow: 10px 0px 16px 0 rgba(31, 37, 50, .15);

  @media (min-height: 700px) {
    display: block;
  }
}


.site-alert {
  padding: 15px 10px;
  margin-bottom: 30px;
  border-left: 3px solid $color__cadet;


  &--warning {
    background-color: $color__vanilla;
    color: $color__mocha;
    border-color: $color__butterscotch;

    .material-icons {
      color: $color__hazelnut;
      font-size: 30px;
    }
  }

}


.site-list--bulleted,
.site-list--ordered {
  padding-left: 40px;
  margin-bottom: 20px;
  .site-list__item {
    margin-bottom: 5px;
  }
}

.site-list--bulleted {
  .site-list__item {
    list-style: initial;
  }
}

.site-list--ordered {
  .site-list__item {
    list-style: decimal;
  }
}

.site-list--unstyled {
  margin-left: 0;
  padding-left: 0;
  .site-list__item {
    list-style: none;
  }
}



.site-email-submission-form {
  .hca-text-field {
    width: 100%;
  }
  .hca-text-field__label {
    margin-top: 0;
  }
  .hca-text-field__input {
    width: 100%;
  }
  .hca-button {
    display: block;
    margin: 0;
  }
}
