* {
  transition: $transition;
  box-sizing: border-box;
}

::selection {
  background: $color__evening;
  color: $color__white;
}

body,
html {
  background-color: $background-color;
  color: $color__cadet;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  // display: flex;
  width: 100%;
}

a,
.hca-link {
  color: $color__night;
  text-decoration: none;
  border-bottom: 2px solid $color__noon;

  &:hover {
    color: $color__night;
    background-color: $color__morning;
    text-decoration: none;
    border-color: $color__noon;
  }
}

// nav, ul, li {
//   margin: 0;
//   padding: 0;
// }
//
// dl, dd, dt,
// ul, ol, li {
//   padding: 0;
//   margin: 0;
// }
//
// li {
//   list-style: none;
// }

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

blockquote {
  border-left-color: $color__geyser;
}
