.hca-background {

  //
  //Solid Backgrounds
  //
  &--white {
    background-color: $color__white !important;
  }
  &--steam {
    background-color: $color__steam !important;
  }
  &--geyser {
    background-color: $color__geyser !important;
  }
  &--slate {
    background-color: $color__slate !important;
  }
  &--cadet {
    background-color: $color__cadet !important;
  }
  &--asphalt {
    background-color: $color__asphalt !important;
  }
  &--night {
    background-color: $color__night !important;
  }
  &--evening {
    background-color: $color__evening !important;
  }
  &--noon {
    background-color: $color__noon !important;
  }
  &--morning {
    background-color: $color__morning !important;
  }
  &--pine {
    background-color: $color__pine !important;
  }
  &--ivy {
    background-color: $color__ivy !important;
  }
  &--grass {
    background-color: $color__grass !important;
  }
  &--mint {
    background-color: $color__mint !important;
  }
  &--mocha {
    background-color: $color__mocha !important;
  }
  &--hazelnut {
    background-color: $color__hazelnut !important;
  }
  &--butterscotch {
    background-color: $color__butterscotch !important;
  }
  &--vanilla {
    background-color: $color__vanilla !important;
  }
  &--cranberry{
    background-color: $color__cranberry !important;
  }
  &--cherry {
    background-color: $color__cherry !important;
  }
  &--strawberry {
    background-color: $color__strawberry !important;
  }
  &--teaberry {
    background-color: $color__teaberry !important;
  }

  //
  //Gradient backgrounds
  //
  &--white-gradient {
    background: $color__white;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, transparent, $color__white);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, transparent, $color__white); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  &--morning-gradient {
    background: $color__morning;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, transparent, $color__morning);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, transparent, $color__morning); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  &--mint-gradient {
    background: $color__mint;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, transparent, $color__mint);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, transparent, $color__mint); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  &--vanilla-gradient {
    background: $color__vanilla;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, transparent, $color__vanilla);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, transparent, $color__vanilla); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  &--teaberry-gradient {
    background: $color__teaberry;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, transparent, $color__teaberry);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, transparent, $color__teaberry); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }



  &--cadet-gradient {
    background: $color__cadet;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, $color__asphalt, $color__cadet);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, $color__asphalt, $color__cadet); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  &--evening-gradient {
    background: $color__evening;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, $color__night, $color__evening);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, $color__night, $color__evening); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  &--ivy-gradient {
    background: $color__ivy;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, $color__pine, $color__ivy);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, $color__pine, $color__ivy); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  &--hazelnut-gradient {
    background: $color__hazelnut;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, $color__mocha, $color__hazelnut);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, $color__mocha, $color__hazelnut); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  &--cherry-gradient {
    background: $color__cherry;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, $color__cranberry, $color__cherry);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, $color__cranberry, $color__cherry); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
}




//
// Text color modifiers
//
.hca-text {
  //
  //Solid Backgrounds
  //
  &--white {
    color: $color__white !important;
  }
  &--steam {
    color: $color__steam !important;
  }
  &--geyser {
    color: $color__geyser !important;
  }
  &--slate {
    color: $color__slate !important;
  }
  &--cadet {
    color: $color__cadet !important;
  }
  &--asphalt {
    color: $color__asphalt !important;
  }
  &--night {
    color: $color__night !important;
  }
  &--evening {
    color: $color__evening !important;
  }
  &--noon {
    color: $color__noon !important;
  }
  &--morning {
    color: $color__morning !important;
  }
  &--pine {
    color: $color__pine !important;
  }
  &--ivy {
    color: $color__ivy !important;
  }
  &--grass {
    color: $color__grass !important;
  }
  &--mint {
    color: $color__mint !important;
  }
  &--mocha {
    color: $color__mocha !important;
  }
  &--hazelnut {
    color: $color__hazelnut !important;
  }
  &--butterscotch {
    color: $color__butterscotch !important;
  }
  &--vanilla {
    color: $color__vanilla !important;
  }
  &--cranberry{
    color: $color__cranberry !important;
  }
  &--cherry {
    color: $color__cherry !important;
  }
  &--strawberry {
    color: $color__strawberry !important;
  }
  &--teaberry {
    color: $color__teaberry !important;
  }
}

.hca-flex {
  display: flex !important;
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
}

.hca-flex--wrap {
  display: -webkit-flex !important; /* Safari */
  -webkit-flex-wrap: wrap !important; /* Safari 6.1+ */
  display: flex !important;
  flex-wrap: wrap !important;
}
