.hca-layout__drawer {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: $hca-drawer-width;
  height: 100%;
  height: 100vh;
  // border: 1px solid red;

  @include level-3;
}


.hca-layout__drawer-toggle {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 8px;
  margin-left: 10px;
  z-index: 5;
}

.hca-layout__drawer--is-closed {
  transform: translateX(-300px);
}
