.hca-layout__container {
  display: block;
  margin: 0 auto;
  padding-right: 30px;
  padding-left: 30px;
  max-width: 1100px;
}


//container for content needing to abide by line length rules
.hca-layout__container--body-content {
  max-width: 500px;
  margin-bottom: 30px;
}

.hca-layout--has-app-bar .app-header {
  padding-top: $hca-app-bar-height + 30px;
}

//offset margin of drawer sliding out until screen is large enough to have
// 300 px of margin on left side by default
@media (min-width: $screen__tablet) and (max-width: 1700px) {
  .hca-layout--has-drawer .hca-layout__container {
    margin-left: $hca-drawer-width;
    max-width: calc(100% - 300px);
  }
}
