.hca-layout__container {
  padding: 1rem;
  max-width: 1400px;
}


//container for content needing to abide by line length rules
.hca-layout__container--line-length {

}

.hca-layout--has-app-bar {
  padding-top: $hca-app-bar-height;
}

.hca-layout--has-drawer .hca-layout__container {
  margin-left: $hca-drawer-width;
}
