<nav class="app-nav js-app-nav">
  <button class="app-nav__toggle app-nav__toggle--open js-app-nav-toggle"></button>
  <ul class="app-menu">
    <li>
      <a class="app-menu__item" href="/">
        HCA Design System
        <br>
        <span class="app-menu__subheading">v0.0.1<span>
      </a>
    </li>
    <li><a class="app-menu__item app-menu__item--active" href="/">Get Started</a></li>
    <li class="js-guidelines-dropdown">
      <span class="app-menu__item app-menu__heading">Guidelines</span>
      <ul class="app-menu app-menu--hidden js-component-dropdown-list">
        <li><a class="app-menu__item app-menu__item--nested" href="/guidelines/typography">Typography</a></li>
        <li><a class="app-menu__item app-menu__item--nested" href="/guidelines/elevation">Colors</a></li>
        <li><a class="app-menu__item app-menu__item--nested" href="/guidelines/elevation">Elevation</a></li>
      </ul>
    </li>
    <li class="js-component-dropdown">
      <span class="app-menu__item app-menu__heading">Components</span>
      <ul class="app-menu app-menu--hidden js-component-dropdown-list">
        <li><a class="app-menu__item app-menu__item--nested" href="/guidelines/tooltips">Tooltips</a></li>
        <li><a class="app-menu__item app-menu__item--nested" href="/guidelines/snackbars">Snackbars</a></li>
        <li><a class="app-menu__item app-menu__item--nested" href="/guidelines/lists">Lists</a></li>
        <li><a class="app-menu__item app-menu__item--nested" href="/guidelines/text-fields">Text Fields</a></li>
        <li><a class="app-menu__item app-menu__item--nested" href="/guidelines/search">Search</a></li>
        <li><a class="app-menu__item app-menu__item--nested" href="/guidelines/expansion-panels">Expansion Panels</a></li>
        <li><a class="app-menu__item app-menu__item--nested" href="/guidelines/menus">Menus</a></li>
        <li><a class="app-menu__item app-menu__item--nested" href="/guidelines/data-tables">Data Tables</a></li>
        <li><a class="app-menu__item app-menu__item--nested" href="/guidelines/buttons">Buttons</a></li>
        <li><a class="app-menu__item app-menu__item--nested" href="/guidelines/chips">Chips</a></li>
        <li><a class="app-menu__item app-menu__item--nested" href="/guidelines/steppers">Steppers</a></li>
        <li><a class="app-menu__item app-menu__item--nested" href="/guidelines/dividers">Dividers</a></li>
        <li><a class="app-menu__item app-menu__item--nested" href="/guidelines/cards">Cards</a></li>
        <li><a class="app-menu__item app-menu__item--nested" href="/guidelines/dialogs">Dialogs</a></li>
        <li><a class="app-menu__item app-menu__item--nested" href="/guidelines/tabs">Tabs</a></li>
        <li><a class="app-menu__item app-menu__item--nested" href="/guidelines/subheaders">Subheaders</a></li>
      </ul>
    </li>
    <li><a class="app-menu__item" href="/guidelines/accessibility">Accessibility</a></li>
    <li class="js-resources-dropdown">
      <span class="app-menu__item app-menu__heading">Resources</span>
      <ul class="app-menu app-menu--hidden js-resources-dropdown-list">
        <li><a class="app-menu__item app-menu__item--nested" href="https://offroadcode.com/rem-calculator">Rem Calculator</a> </li>
      </ul>
    </li>
    <li><a class="app-menu__item" href="http://www.hcahealthcare.com/"><span class="app-menu__subheading">Created and maintained by the HCA IT&amp;S Innovation and Experience team. &copy; 2017</span></a></li>
  </ul>
</nav>
