<div class="hca-layout__drawer">

  <div class="app-styleguide-brand">

    <svg version="1.1" id="hca-design-system-logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    	 viewBox="0 0 1500 1500" style="enable-background:new 0 0 1500 1500;" xml:space="preserve">
      <rect class="hca-animation--colorful" x="150" y="470" width="85" height="99"/>
      <rect class="hca-animation--colorful" x="274" y="394" width="85" height="597"/>
      <rect class="hca-animation--colorful" x="398" y="464" width="85" height="168"/>
      <rect x="522" y="414" width="85" height="499"/>
      <rect x="646" y="457" width="85" height="298"/>
      <rect x="770" y="407" width="85" height="455"/>
      <rect x="895" y="393" width="85" height="656"/>
      <rect x="1019" y="150" width="85" height="1200"/>
      <rect x="1143" y="150" width="85" height="681"/>
      <rect class="hca-animation--colorful" x="1267" y="437" width="85" height="280"/>
    </svg>
    <h1 class="hca-typography--title">HCA Design System</h1>
    <small class="hca-typography--caption">Beta Version 0.0.1</small>
  </div>

  <hr />

  <nav class="hca-list">

    <a href="{{page.base_url}}" class="hca-list__item">Get Started</a>

    <dl>
      <dt>
        <a href="#hca-drawer-nav__item--essentials" class="hca-list__item collapsed" data-toggle="collapse" aria-expanded="false" aria-controls="hca-drawer-nav__item--essentials">Essentials <span class="material-icons">keyboard_arrow_up</span></a>
      </dt>
      <div class="collapse" id="hca-drawer-nav__item--essentials">
        <dd>
          <a href="{{page.base_url}}color/" class="hca-list__item hca-list__item--nested">Color</a>
        </dd>
        <dd>
          <a href="{{page.base_url}}typography/" class="hca-list__item hca-list__item--nested">Typography</a>
        </dd>
      </div>
    </dl>

    <dl>
      <dt>
        <a href="#hca-drawer-nav__item--components" class="hca-list__item collapsed" data-toggle="collapse" aria-expanded="false" aria-controls="hca-drawer-nav__item--components">Components<span class="material-icons">keyboard_arrow_up</span></a>
      </dt>
      <div class="collapse" id="hca-drawer-nav__item--components">
        <dd>
          <a href="#" class="hca-list__item hca-list__item--nested">Nested Nav Item</a>
        </dd>
        <dd>
          <a href="#" class="hca-list__item hca-list__item--nested">Nested Nav Item 2</a>
        </dd>
      </div>
    </dl>

    <dl>
      <dt>
        <a href="#hca-drawer-nav__item--patterns" class="hca-list__item collapsed" data-toggle="collapse" aria-expanded="false" aria-controls="hca-drawer-nav__item--patterns">Patterns <span class="material-icons">keyboard_arrow_up</span></a>
      </dt>
      <div class="collapse" id="hca-drawer-nav__item--patterns">
        <dd>
          <a href="#" class="hca-list__item hca-list__item--nested">Nested Nav Item</a>
        </dd>
      </div>
    </dl>

    <a href="#" class="hca-list__item">Downloads</a>

  </nav>
  {{!-- //hca-navigation --}}

  <hr />

  <div class="app-nav-footer-cc">
    <p class="hca-typography--caption">HCA Design System is created and maintained by HCA IT&S User Experience team. &copy; 2017</p>
  </div>

</div>
{{!-- //layout__drawer --}}
