<div class="hca-layout__drawer">

  <div class="branding-here">
    HCA Design System
  </div>

  <nav class="hca-list">

    <dl>
      <dt>
        <a href="#" class="hca-list__item">Top Nav Item <span class="material-icons">keyboard_arrow_up</span></a>
      </dt>
      <dd>
        <a href="#" class="hca-list__item hca-list__item--nested">Nested Nav Item</a>
      </dd>
    </dl>

    <dl>
      <dt>
        <a href="#" class="hca-list__item">Top Nav Item <span class="material-icons">keyboard_arrow_up</span></a>
      </dt>
      <dd>
        <a href="#" class="hca-list__item hca-list__item--nested">Nested Nav Item</a>
      </dd>
      <dd>
        <a href="#" class="hca-list__item hca-list__item--nested">Nested Nav Item 2</a>
      </dd>
    </dl>

    <dl>
      <dt>
        <a href="#" class="hca-list__item">Top Nav Item <span class="material-icons">keyboard_arrow_up</span></a>
      </dt>
      <dd>
        <a href="#" class="hca-list__item hca-list__item--nested">Nested Nav Item</a>
      </dd>
      <dd>
        <ul>
          <a href="#" class="hca-list__item hca-list__item--nested">Nested List <span class="material-icons">keyboard_arrow_up</span></a>
          <li>
            <a href="#" class="hca-list__item hca-list__item--double-nested">Nested Nav Item 2</a>
          </li>
          <li>
            <a href="#" class="hca-list__item hca-list__item--double-nested">Nested Nav Item 2</a>
          </li>
        </ul>
      </dd>
    </dl>

  </nav>
  {{!-- //hca-navigation --}}

</div>
{{!-- //layout__drawer --}}
