/* ==========================================================================
   DEFAULT BASE SETTINGS
   ========================================================================== */

//display settings so that they are not dependent on markup
.hca-text--display-4,
.hca-text--display-3,
.hca-text--display-2,
.hca-text--display-1,
.hca-text--headline,
.hca-text--title,
.hca-text--subhead,
.hca-text--body-2,
.hca-text--body-1,
.hca-text--caption,
.hca-text--support {
  display: block;
  line-height: 1.5;
}


/**
 * Color Defaults
 */
.hca-text--display-1,
.hca-text--title,
.hca-text--body-2,
.hca-text--support,
.hca-text--tag {
  color: $color__asphalt;
}

/**
 * Weight Defaults
 */
.hca-text--display-3,
.hca-text--display-2,
.hca-text--display-1,
.hca-text--headline,
.hca-text--subhead,
.hca-text--body-1,
.hca-text--caption {
  font-weight: 400;
}

.hca-text--title,
.hca-text--body-2,
.hca-text--support,
.hca-text--tag {
  font-weight: 600;
}



/**
 * Default sizes and specifics
 */
.hca-text--display-4 {
  font-weight: 300;
  font-size: 112px;
  padding-bottom: 25px;
  line-height: 140px;
}

.hca-text--display-3 {
  font-size: 56px;
  padding-bottom: 25px;
  line-height: 70px;
}

.hca-text--display-2 {
  font-size: 45px;
  padding-bottom: 25px;
  line-height: 50px;
}

.hca-text--display-1 {
  font-size: 34px;
  padding-bottom: 17px;
  line-height: 40px;
}

.hca-text--headline {
  font-size: 26px;
  padding-bottom: 10px;
  line-height: 32px;
}

.hca-text--title {
  font-size: 22px;
  padding-bottom: 10px;
  line-height: 32px;
}

.hca-text--subhead {
  font-size: 18px;
  padding-bottom: 5px;
  line-height: 27px;
}

.hca-text--body-2 {
  font-size: 16px;
  padding-bottom: 5px;
  line-height: 26px;
}

.hca-text--body-1 {
  font-size: 16px;
  padding-bottom: 10px;
  line-height: 26px;
}

.hca-text--caption {
  font-size: 14px;
  line-height: 22px;
}

.hca-text--tag {
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
}

.hca-text--support {
  font-size: 12px;
  line-height: 20px;
}





/* ==========================================================================
   MODIFIERS
   ========================================================================== */

/**
 * Weight and style modifiers
 */
 .hca-text__weight--light {
   font-weight: lighter !important;
   font-weight: 300 !important;
 }

 .hca-text__weight--regular {
   font-weight: normal !important;
   font-weight: 400 !important;
 }

 .hca-text__weight--semibold {
   font-weight: bold !important;
   font-weight: 600 !important;
 }

 .hca-text--italic {
   font-style: italic !important;
 }


 /**
  * Color modifiers
  */
  .hca-text__color {
    &--asphalt {
      color: $color__asphalt !important;
    }
    &--cadet {
      color: $color__cadet !important;
    }
    &--slate {
      color: $color__slate !important;
    }
    &--geyser {
      color: $color__geyser !important;
    }
    &--steam {
      color: $color__steam !important;
    }
    &--white {
      color: $color__white !important;
    }
    &--night {
      color: $color__night !important;
    }
    &--evening {
      color: $color__evening !important;
    }
    &--noon {
      color: $color__noon !important;
    }
    &--morning {
      color: $color__morning !important;
    }
    &--pine {
      color: $color__pine !important;
    }
    &--ivy {
      color: $color__ivy !important;
    }
    &--grass {
      color: $color__grass !important;
    }
    &--mint {
      color: $color__mint !important;
    }
    &--mocha {
      color: $color__mocha !important;
    }
    &--hazelnut {
      color: $color__hazelnut !important;
    }
    &--butterscotch {
      color: $color__butterscotch !important;
    }
    &--vanilla {
      color: $color__vanilla !important;
    }
    &--cranberry {
      color: $color__cranberry !important;
    }
    &--cherry {
      color: $color__cherry !important;
    }
    &--strawberry {
      color: $color__strawberry !important;
    }
    &--watermelon {
      color: $color__watermelon !important;
    }
  }
