<p>This is the first beta release of the HCA Design System Sketch Kit.</p>
<h2 id="included-">Included:</h2>
<h4 id="getting-started">Getting Started</h4>
<ul>
<li>Document structure</li>
<li>Symbols</li>
<li>Text Styles</li>
</ul>
<h4 id="essentials">Essentials</h4>
<ul>
<li>Color Palette</li>
<li>Typography</li>
<li>Elevation</li>
<li>Icons</li>
</ul>
<h4 id="grid">Grid</h4>
<ul>
<li>Grid templates based on Bootstrap grid</li>
</ul>
<h4 id="components">Components</h4>
<ul>
<li>Buttons</li>
<li>Breadcrumbs</li>
<li>Cards</li>
<li>Checkboxes</li>
<li>Chips</li>
<li>Data Tables</li>
<li>Dialogs</li>
<li>Dividers</li>
<li>Dropdowns</li>
<li>Expansion Panels</li>
<li>Links</li>
<li>Lists</li>
<li>List Controls</li>
<li>Loaders</li>
<li>Menus</li>
<li>Navigation</li>
<li>Search</li>
<li>Snackbars</li>
<li>Steppers</li>
<li>Tabs</li>
<li>Text Fields</li>
<li>Tool Tips</li>
</ul>
