---
layout: default.hbs
title: Typography
body_class: ''
base_url: '../../'
---

<h2 class="hca-typography--display-2">Typography</h2>

<div class="hca-layout__container--body-content">
  <p class="hca-typography--body-1">Typography is one of the most powerful tools you have to communicate your digital content. Good use of typography establishes a clear visual hierarchy through the use of type size, weight, and contrast.</p>

  <p class="hca-typography--body-1">To ensure accessible content, color should never be used as a primary differentiation of context. Use of color in type should only supplement or enhance a context that is already communicated through either size, weight, or contrast.</p>
</div>

[example of greyscale success message in contrast to color enhanced success message]

<hr />

<h3 class="hca-typography--headline">General Rules</h3>


<div class="hca-layout__container--body-content">
  <h4 class="hca-typography--title">Font Weight</h4>
  <p class="hca-typography--body-1">Change in font weight must attach context such as a title vs. body copy or a change in state: active vs. inactive.</p>
  <p class="hca-typography--body-1">Never use font weight for aesthetic without a clear contextual purpose.</p>
</div>

<div class="hca-layout__container--body-content">
  <h4 class="hca-typography--title">Case</h4>
  <p class="hca-typography--body-1">Much like font weight, case should only be used to add obvious context or hierarchy.</p>
  <p class="hca-typography--body-1">Avoid using all caps unless needed to clearly establish a contextual hierarchy.</p>
</div>

<div class="hca-layout__container--body-content">
  <h4 class="hca-typography--title">Italics / Emphasis</h4>
  <p class="hca-typography--body-1">Italic type, or <em>emphasis</em>, should only be used when there is a pertinent message related to the content that is not the content itself.</p>
</div>

<div class="hca-layout__container--body-content">
  <h4 class="hca-typography--title">Use of Ellipsis (...)</h4>
  <p class="hca-typography--body-1">When ellipsis occurs or is used, there must be "follow up" of the hidden information. This means you must be able to follow the ellipsis and access the complete text.</p>
  <span class="hca-typography--body-2">Some examples:</span> <p class="hca-typography--body-1">The user could click through to a new view that displays the whole text.</p>
  <p class="hca-typography--body-1">There could be an info button next to ellipsis that creates a tooltip of the expanded text.</p>
</div>


<hr />


<h3 class="hca-typography--headline">Typeface</h3>

<div class="hca-layout__container--body-content">
  <p class="hca-typography--body-1">Open Sans is the chosen typeface for the HCA Design System. It is a free, open source, sans-serif font created and maintained by Google. It was developed with a focus on having a neutral, yet friendly appearance, and is optimized for legibility across print, web, and mobile interfaces.</p>

  <p class="hca-typography--body-1">Open Sans is also one of the fastest loading fonts from <a href="https://fonts.google.com/" target="_blank">Google Fonts</a>.</p>
</div>

<div class="hca-layout__container--body-content">
  <h4 class="hca-typography--title">Weights used</h4>
  <p class="hca-typography--body-1">Our base typographic system utilizes the <span class="hca-typography__weight--light">light (300)</span>, <span class="hca-typography__weight--regular">regular (400)</span>, and <span class="hca-typography__weight--semibold">semibold (600)</span> font weights that come baked right in to Open Sans.</p>
</div>


<hr />

<h3 class="hca-typography--headline">Styles</h3>

<div class="hca-layout__container--body-content">
  <p class="hca-typography--body-1">Typographic styles were developed to balance content density and improve reading comfort. Overuse of multiple typographic styles will disrupt the layout.</p>
  <p class="hca-typography--body-1">Consider typography as another UI element that needs to fit with the overall design. We leverage typographic styles to establish visual hierarchy and would not recommend utilizing color to communicate any hierarchy (with the exception of links).</p>
</div>


  <p class="hca-typography--body-1"></p>
  <p class="hca-typography--body-1"></p>
  <p class="hca-typography--body-1"></p>
  <p class="hca-typography--body-1"></p>
  <p class="hca-typography--body-1"></p>
  <p class="hca-typography--body-1"></p>
  <p class="hca-typography--body-1"></p>
  <p class="hca-typography--body-1"></p>
  <p class="hca-typography--body-1"></p>
  <p class="hca-typography--body-1"></p>
  <p class="hca-typography--body-1"></p>
  <p class="hca-typography--body-1"></p>
  <p class="hca-typography--body-1"></p>
  <p class="hca-typography--body-1"></p>
  <p class="hca-typography--body-1"></p>
  <p class="hca-typography--body-1"></p>
  <p class="hca-typography--body-1"></p>
  <p class="hca-typography--body-1"></p>
  <p class="hca-typography--body-1"></p>
  <p class="hca-typography--body-1"></p>




</div>
