{{!-- <span class="hca-text--body-2">
  <span class="hca-color-swatch hca-color-swatch--xs hca-color-swatch--butterscotch"></span>
  Butterscotch
</span>
<span class="hca-text__weight--semibold">HEX:</span> #FFB63D<br />
<span class="hca-text__weight--semibold">RGB:</span> 255, 182, 61 --}}

#FFB63D (<a href="{{page.base_url}}essentials/color" target="_blank">Butterscotch</a>)
