{{!-- <span class="hca-text--body-2">
  <span class="hca-color-swatch hca-color-swatch--xs hca-color-swatch--cherry"></span>
  Cherry
</span>
<span class="hca-text__weight--semibold">HEX:</span> #C83426<br />
<span class="hca-text__weight--semibold">RGB:</span> 200, 52, 38 --}}

#C83426 (<a href="{{page.base_url}}essentials/color" target="_blank">Cherry</a>)
