{{!-- <span class="hca-text--body-2">
  <span class="hca-color-swatch hca-color-swatch--xs hca-color-swatch--geyser"></span>
  Geyser
</span>
<span class="hca-text__weight--semibold">HEX:</span> #D8DDE6 <br />
<span class="hca-text__weight--semibold">RGB:</span> 216, 221, 230 --}}

#D8DDE6 (<a href="{{page.base_url}}essentials/color" target="_blank">Geyser</a>)
