{{!-- <span class="hca-text--body-2">
  <span class="hca-color-swatch hca-color-swatch--xs hca-color-swatch--pine"></span>
  Pine
</span>
<span class="hca-text__weight--semibold">HEX:</span> #10572F<br />
<span class="hca-text__weight--semibold">RGB:</span> 16, 87, 47 --}}

#10572F (<a href="{{page.base_url}}essentials/color" target="_blank">Pine</a>)
