{{!-- <span class="hca-text--body-2">
  <span class="hca-color-swatch hca-color-swatch--xs hca-color-swatch--white"></span>
  White
</span>
<span class="hca-text__weight--semibold">HEX:</span> #FFFFFF <br />
<span class="hca-text__weight--semibold">RGB:</span> 255, 255, 255 --}}

#25067A (<a href="{{page.base_url}}essentials/color" target="_blank">Plum</a>)
