{{!-- <span class="hca-text--body-2">
  <span class="hca-color-swatch hca-color-swatch--xs hca-color-swatch--watermelon"></span>
  Watermelon
</span>
<span class="hca-text__weight--semibold">HEX:</span> #FEE7E5<br />
<span class="hca-text__weight--semibold">RGB:</span> 254, 231, 229 --}}

#FEE7E5 (<a href="{{page.base_url}}essentials/color" target="_blank">Watermelon</a>)
