---
layout: default.hbs
title: Data Tables
base_url: '../../'
---

<!-- Tab panes - tab controls in _layouts/default.hbs -->
<div class="tab-content">

  {{!-- USAGE TAB --}}
  <div role="tabpanel" class="tab-pane active" id="app-guidelines-tab">

  <section class="app-tab-header">
    <div class="row">
      <div class="col-sm-7">
        <div class="hca-layout__container--body-content">
          <p class="hca-typography--subhead hca-typography__color--asphalt">Data tables display sets of data.</p>
        </div>
      </div>
      <div class="col-sm-5">
        <nav>
          <ul class="app-toc">
            <h2 class="hca-typography--subhead">Contents:</h2>
            <li class="app-toc__item"><a href="#section-name">Usage and Structure</a></li>
            <li class="app-toc__item"><a href="#section-name">Interaction</a></li>
            <li class="app-toc__item"><a href="#section-name">Tables Within Cards</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </section>

    Put your content here.
  </div>

  {{!-- STYLES TAB --}}
  <div role="tabpanel" class="tab-pane" id="app-styles-tab">

    <section class="app-tab-header">
      <div class="row">
        <div class="col-sm-7">
          <div class="hca-layout__container--body-content">
            <p class="hca-typography--subhead hca-typography__color--asphalt">Intro paragraph(s) here.</p>
          </div>
        </div>
        <div class="col-sm-5">
          <nav>
            <ul class="app-toc">
              <h2 class="hca-typography--subhead">Contents:</h2>
              <li class="app-toc__item"><a href="#section-name">Topic</a></li>
              <li class="app-toc__item"><a href="#section-name">List</a></li>
              <li class="app-toc__item"><a href="#section-name">Here</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </section>

    Put your content here.
  </div>

  {{!-- CODE TAB --}}
  <div role="tabpanel" class="tab-pane" id="app-code-tab">
    Coming soon.
  </div>

</div>


{{!-- Pagination Navigation --}}
<nav class="app-pagination">
  <div class="row">
    <div class="col-sm-12 text-right">
      <a href="{{page.base_url}}components/chips/" class="hca-button hca-button--has-icon-left">Back to Chips <span class="material-icons">keyboard_arrow_left</span></a>
      <a href="{{page.base_url}}components/dialogs/" class="hca-button hca-button--has-icon-right hca-typography__color--evening">Next: Dialogs <span class="material-icons">keyboard_arrow_right</span></a>
    </div>
  </div>
</nav>
