---
layout: no-tabs.hbs
title: Release Notes and Updates
base_url: '../'
---

<div class="site--release-notes">
  <div class="row">
    <div class="col-sm-8">
      <h3 class="hca-text--title">Latest Release</h3>
      <div class="hca-expansion-panel-container">
        <div class="hca-expansion-panel">
          <div class="hca-expansion-panel__title" data-toggle="collapse" href="#collapse-0" role="button" aria-expanded="true" aria-controls="collapse-0">
            <h4 class="hca-expansion-panel__title-text">Version {{> version-number }}</h4>
            <span class="material-icons hca-expansion-panel__title-icon">keyboard_arrow_up</span>
          </div>
          <div id="collapse-0" class="collapse in hca-expansion-panel__content">
            {{> release-0-3-0 }}
          </div>
        </div>
      </div>

      <hr />

      <h3 class="hca-text--title">Previous Releases</h3>
      <div class="hca-expansion-panel-container">
        <div class="hca-expansion-panel">
          <div class="hca-expansion-panel__title collapsed" data-toggle="collapse" href="#collapse-2" role="button" aria-expanded="false" aria-controls="collapse-1">
            <h4 class="hca-expansion-panel__title-text">Version 0.2.0</h4>
            <span class="material-icons hca-expansion-panel__title-icon">keyboard_arrow_up</span>
          </div>
          <div id="collapse-2" class="collapse hca-expansion-panel__content">
            {{> release-0-2-0 }}
          </div>
        </div>
        <div class="hca-expansion-panel">
          <div class="hca-expansion-panel__title collapsed" data-toggle="collapse" href="#collapse-1" role="button" aria-expanded="false" aria-controls="collapse-1">
            <h4 class="hca-expansion-panel__title-text">Version 0.1.0</h4>
            <span class="material-icons hca-expansion-panel__title-icon">keyboard_arrow_up</span>
          </div>
          <div id="collapse-1" class="collapse hca-expansion-panel__content">
            {{> release-0-1-0 }}
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="site-container--body-content">
        <div class="hca-card">
          <div class="hca-card__title">
            <span class="hca-text--title">Sign Up</span>
          </div>
          <div class="hca-card__content">
            <p class="hca-text--body-1">Sign up to receive an update every time a new version of HCA Design System is released.</p>
            <form class="site-email-submission-form" action="https://docs.google.com/forms/d/e/1FAIpQLSfnaruStEbMYW0jjes2CEXRYC2181NHjYNjGwHiO1w7Y33cUg/formResponse" target="_self" method="POST">
              <div class="hca-text-field">
                <label class="hca-text--body-1">Enter your email</label>
                <input type="email" class="hca-text-field__input"  autocomplete="email" tabindex="0" aria-label="Enter your email" name="emailAddress" value="" required="true" dir="auto">
                <button role="button" class="hca-button hca-button--raised hca-button--evening hca-button--full-width" aria-disabled="false" tabindex="0">Submit</button>
              </div>
            </form>
          </div>
          <div class="hca-card__action-bar">
            <p class="hca-text--support">We make new releases as frequent as once every three weeks, but not always this often.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{{!-- Pagination Navigation --}}
<nav class="site-pagination">
  <div class="row">
    <div class="col-sm-12 text-right">
      <a href="{{page.base_url}}accessibility/" class="hca-button hca-button--has-icon-left">Back to Accessibility <span class="material-icons">keyboard_arrow_left</span></a>
      <a class="hca-button hca-button--disabled hca-button--has-icon-right hca-text__color--night">Next: TBD <span class="material-icons">keyboard_arrow_right</span></a>
    </div>
  </div>
</nav>
