//set sizes for color swatch squares.
$color-swatch-xs: 16px;
$color-swatch-sm: 25px;
$color-swatch-md: 40px;
$color-swatch-lg: 75px;
$color-swatch-xl: 125px;




.hca-color-swatch {
  display: inline-block;
  width: $color-swatch-sm;
  height: $color-swatch-sm;
  line-height: $color-swatch-sm;
  border-radius: $hca-border-radius;
  background-color: $color__asphalt;
}




/* Size Modifiers */
.hca-color-swatch--xs {
  width: $color-swatch-xs;
  height: $color-swatch-xs;
  line-height: $color-swatch-xs;
}
.hca-color-swatch--sm {
  width: $color-swatch-sm;
  height: $color-swatch-sm;
  line-height: $color-swatch-sm;
}
.hca-color-swatch--md {
  width: $color-swatch-md;
  height: $color-swatch-md;
  line-height: $color-swatch-md;
}
.hca-color-swatch--lg {
  width: $color-swatch-lg;
  height: $color-swatch-lg;
  line-height: $color-swatch-lg;
}
.hca-color-swatch--xl {
  width: $color-swatch-xl;
  height: $color-swatch-xl;
  line-height: $color-swatch-xl;
}
.hca-color-swatch--full-width {
  width: 100%;
  min-height: $color-swatch-lg;
  line-height: $color-swatch-lg;
  // margin-bottom: 25px;
  text-align: center;
}



/* Color Modifiers */
.hca-color-swatch--asphalt {
  background-color: $color__asphalt;
}
.hca-color-swatch--cadet {
  background-color: $color__cadet;
}
.hca-color-swatch--slate {
  background-color: $color__slate;
}
.hca-color-swatch--geyser {
  background-color: $color__geyser;
}
.hca-color-swatch--steam {
  background-color: $color__steam;
  border: 1px solid $color__geyser;
}
.hca-color-swatch--white {
  background-color: $color__white;
  border: 1px solid $color__steam;
}

//Default / Blue
.hca-color-swatch--night {
  background-color: $color__night;
}
.hca-color-swatch--evening {
  background-color: $color__evening;
}
.hca-color-swatch--noon {
  background-color: $color__noon;
}
.hca-color-swatch--morning {
  background-color: $color__morning;
}

//Success / Green
.hca-color-swatch--pine {
  background-color: $color__pine;
}
.hca-color-swatch--ivy {
  background-color: $color__ivy;
}
.hca-color-swatch--grass {
  background-color: $color__grass;
}
.hca-color-swatch--mint {
  background-color: $color__mint;
}

//Warning / Caution
.hca-color-swatch--mocha {
  background-color: $color__mocha;
}
.hca-color-swatch--hazelnut {
  background-color: $color__hazelnut;
}
.hca-color-swatch--butterscotch {
  background-color: $color__butterscotch;
}
.hca-color-swatch--vanilla {
  background-color: $color__vanilla;
}

//Danger / Error / Red
.hca-color-swatch--cranberry {
  background-color: $color__cranberry;
}
.hca-color-swatch--cherry {
  background-color: $color__cherry;
}
.hca-color-swatch--strawberry {
  background-color: $color__strawberry;
}
.hca-color-swatch--teaberry {
  background-color: $color__teaberry;
}

//Nuetral Accents
.hca-color-swatch--plum {
  background-color: $color__plum;
}
.hca-color-swatch--fig {
  background-color: $color__fig;
}
.hca-color-swatch--grape {
  background-color: $color__grape;
}
.hca-color-swatch--lavender {
  background-color: $color__lavender;
}
